@font-face {
  font-family: Monument;
  src: url("/fonts/Monument/MonumentGrotesk-Regular.otf");
}
* {
  font-family: Monument;
}
/* ------------------------navbar */

.navbar-expand-lg .navbar-nav .nav-link {
  color: black;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.nav-link.active {
  border-bottom: 0.3125rem solid #1f5aa7;
}

.navbar-expand-lg .navbar-nav .nav-link.active,
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #2159a6;
}

.navbar-nav .btn_contact {
  color: white;
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 1.125rem;
  background-color: #2589ad;
  padding: 0.5625rem 0.9375rem;
}

.navbar .dropdown-item:active {
  color: #2159a6;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  background-color: transparent;
}

.navbar .mr_100 {
  margin-right: 6.25rem;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.navbar_white .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar_white .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}

/* ------------------------navbar */
/* ------------------------footer */

footer.footer {
  background-color: #2159a6;
  min-height: 18.0625rem;
  color: white;
  /* padding-left: 6rem;
  padding-right: 8.125rem;
  padding-top: 2.1875rem;
  padding-bottom: 1.625rem; */
}
.footer .container {
  /* margin: 0; */
  margin: auto;
}
.footer .colum_title {
  color: #aad4f7;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;
  margin-bottom: 1.5rem;
  letter-spacing: 0.1em;
  margin-top: 2.1875rem;
}

.contact_info_text {
  color: #ddf3ff;
  font-size: 1.065rem;
  font-weight: 700;
  line-height: 1.278125rem;
}

.contact_info_text:hover {
  color: white;
  text-decoration: none;
}

.mb_27 {
  margin-bottom: 1.6875rem;
}

.mb_26 {
  margin-bottom: 1.625rem;
}

.mb_35 {
  margin-bottom: 2.1875rem;
}

.mb_19 {
  margin-bottom: 1.216875rem;
}

.icon_contact {
  width: 1.25rem;
  height: 1.25rem;
}

.location_icon {
  width: 2.1875rem;
  height: 2.1875rem;
}

.mb_15 {
  margin-bottom: 0.9375rem;
}

.mb_27 {
  margin-bottom: 1.6875rem;
}

.mb_19 {
  margin-bottom: 1.1875rem;
}

.mt_70 {
  margin-top: 4.375rem;
}

.follow_sec h5 {
  text-align: end;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 0.8125rem;
  color: white;
  margin-top: 9.375rem;
  margin-bottom: 4.5625rem;
}

.social_icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.90375rem;
  padding-bottom: 1.6875rem;
}

.social_icon_container a {
  margin-right: 1.28875rem;
  width: 2.13875rem;
  height: 2.13875rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider hr {
  padding: 0;
  margin: 0;
  background-color: #aad4f7;
}
.pb_27 {
  padding-bottom: 1.6875rem;
}
.copyright {
  font-weight: 400;
  font-size: 0.931875rem;
  line-height: 1.118125rem;
  color: #aad4f7;
  display: flex;
  justify-content: space-between;
}
.img_footer_container {
  max-width: 17rem;
  margin-top: 0.875rem;
  margin-left: 2.6875rem;
}
.first_col {
  margin-right: 8.375rem;
}
footer .second_col,
footer .third_col {
  margin-right: 5rem;
}

footer .fourth_col {
  max-width: 14.5625rem;
}

footer .pt_26 {
  padding-top: 1.664375rem;
}
/* ------------------------footer */

/* =======================media query ============================================ */

/* Default Font Size for PC Screen */
html {
  font-size: 1rem;
}
/* Media Query for pc Screen */
@media (max-width: 1306px) {
  html {
    font-size: 0.9375rem;
  }

  .footer .container {
    padding-left: 6.1875rem !important;
    padding-right: 6.1875rem !important;
  }
  .first_col {
    margin-right: 3rem;
  }

  footer .second_col,
  footer .third_col {
    margin-right: 2rem;
  }

  footer .img_footer_container img {
    max-width: 272px;
    max-height: 192.31px;
  }
  .img_footer_container {
    margin-left: 0;
  }
  .follow_sec h5 {
    margin-bottom: 1rem;
    margin-top: 0;
  }
  footer .flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Media Query for Tablet Screen */
@media (max-width: 1024px) {
  html {
    font-size: 0.875rem;
  }
}
@media (max-width: 900px) {
  .footer .container {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
  footer .row {
    justify-content: space-between;
  }
}
/* Media Query for Large Mobile Screen */
@media (max-width: 768px) {
  html {
    font-size: 0.8125rem;
  }

  .navbar .mr_100 {
    margin-right: 0;
  }

  footer.footer {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }

  .first_col {
    margin-right: 3rem;
  }

  footer .second_col,
  footer .third_col {
    margin-right: 2rem;
  }
  footer .img_footer_container img {
    max-width: 190px;
    max-height: 190px;
  }

  .contact_info_text {
    font-size: 0.8rem;
  }
}
/* Media Query for Medium Mobile Screen */
@media (max-width: 425px) {
  html {
    font-size: 0.75rem;
  }

  footer .first_col {
    display: flex;
    justify-content: center;
  }
  .footer .colum_title {
    margin-top: 0;
    margin-bottom: 0;
  }
  .second_col div,
  .third_col div,
  .fourth_col div {
    margin-bottom: 0.5rem;
  }
  .third_col,
  .fourth_col {
    margin-top: 0.5rem;
  }
  .fourth_col .colum_title {
    margin-bottom: 0.5rem;
  }
  footer .flex_center {
    justify-content: flex-end;
  }
}

/* Media Query for Small Mobile Screen */
@media (max-width: 375px) {
  html {
    font-size: 0.6875rem;
  }
}

/* Media Query for Extra Small Mobile Screen */
@media (max-width: 320px) {
  html {
    font-size: 0.625rem;
  }
}
