<footer class="footer">
  <div class="container px-0">
    <div class="row">
      <div class="col-sm-3 px-0 first_col">
        <div class="img_footer_container">
          <img src="/images/footer/footer_logo.svg" alt="" />
        </div>
      </div>

      <div class="col-sm-1 px-0 second_col">
        <div>
          <h6 class="colum_title mb_26">Products</h6>
          <div>
            <div class="mb_35">
              <a href="/industries" href="#" class="contact_info_text"
                >Industries</a
              >
            </div>
            <div class="mb_27">
              <a href="/products_page" class="contact_info_text">Products</a>
            </div>
            <div class="mb_19">
              <a href="/pricing" class="contact_info_text">Pricing</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-1 px-0 third_col">
        <h6 class="colum_title mb_26">Company</h6>
        <div>
          <div class="mb_35">
            <a href="/" class="contact_info_text">Home</a>
          </div>
          <div class="mb_27">
            <a href="/about_us" class="contact_info_text">About Us</a>
          </div>
          <div class="mb_19">
            <a href="contact_us" class="contact_info_text">Contact Us</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 px-0 fourth_col">
        <div>
          <h6 class="colum_title">CONTACT INFO</h6>
          <div>
            <div class="d-flex align-items-center mb_15">
              <span class="pr-2"
                ><img
                  src="/images/footer/location.svg"
                  class="location_icon"
                  alt=""
              /></span>
              <span class="contact_info_text"
                >9121 Lower Merag,Zahraa Maadi, Cairo, Egypt.</span
              >
            </div>
            <div class="d-flex align-items-center mb_27">
              <span class="pr-2"
                ><img src="/images/footer/mail.svg" class="icon_contact" alt=""
              /></span>
              <a href="mailto:operations@edenmea.com" class="contact_info_text"
                >operations@edenmea.com</a
              >
            </div>
            <div class="d-flex align-items-center mb_19">
              <span class="pr-2"
                ><img
                  src="/images/footer/phone.svg"
                  class="icon_contact"
                  alt=""
              /></span>
              <a href="tel:+201069658518" class="contact_info_text"
                >+20 106 965 8518</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2 flex_center px-0">
        <div class="follow_sec">
          <h5>Follow Us</h5>
        </div>
      </div>
    </div>
    <div class="divider">
      <hr />
    </div>
    <div class="copyright">
      <div class="pt_26 pb_27">
        &copy; <span>2024 Eden. All rights reserved</span>
      </div>
      <div class="social_icon_container">
        <a href="#"
          ><img src="/images/footer/facebook.svg" alt="facebook icon"
        /></a>
        <a href="#"
          ><img src="/images/footer/instagram.svg" alt="instagram icon"
        /></a>
        <a href="#"
          ><img src="/images/footer/linkedin.svg" alt="linkedin icon"
        /></a>
        <a href="#" class="mr-0"
          ><img src="/images/footer/twitter.svg" alt="twitter icon"
        /></a>
      </div>
    </div>
  </div>
</footer>
