<nav class="navbar navbar-expand-lg navbar_white">
  <div class="container mr_100">
    <a class="navbar-brand" href="/">
      <img src="/images/navbar/logo_nav.svg" alt="navbar logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-toggle="dropdown"
            aria-expanded="false"
          >
            Products
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/products_erp">Cloud-based ERP System</a>
            <a class="dropdown-item" href="/products_lms">Full-Fledged LMS</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
            >Industries</a
          >
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/healthcare_page">Healthcare</a>
            <a class="dropdown-item" href="/manufacturing_page">Manufacturing</a>
            <a class="dropdown-item" href="/hospitality_page">Hospitality</a>
            <a class="dropdown-item" href="/retail_page">Retail</a>
            <a class="dropdown-item" href="/services_page">Services</a>
            <a class="dropdown-item" href="/education_page">Education</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/about_us">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/community">Community</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/support_eden">Support</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/eden_pricing">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="btn btn_contact" href="/contact_us">Contact us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
