{% extends "templates/web.html" %} {% block page_content %}

<section class="sec_1">
  <h2>About Us</h2>
  <div class="container">
    <div class="">
      <div class="img_container">
        <img src="/images/about/Content_bg_sec_1.png" alt="sec_1_shape" />
        <h1>
          ConsultUs provides consulting services that help business owners and
          leaders build a more valuable business. We worked with their founder
          to build a professional, modern site that follows the StoryBrand
          framework to clearly communicates the value it adds to potential
          clients
        </h1>
      </div>
    </div>
  </div>
</section>
<section class="sec_2">
  <div class="container">
    <h2>Our <span> Mission </span></h2>
    <div class="row mb_15">
      <div class="col-md-3">
        <span class="sec_title">Unmatched service</span>
      </div>
      <div class="col-md-9">
        <span class="sec_subtitle"
          >Support corporate clients and financial investors with their growth
          strategy and international development.</span
        >
      </div>
    </div>
    <div class="row mb_15">
      <div class="col-md-3">
        <span class="sec_title">Specific</span>
      </div>
      <div class="col-md-9">
        <span class="sec_subtitle"
          >ConsultUs’ core expertise lies in the ability to support our clients
          in understanding, analysing and executing commercial and investment
          strategies in specific markets.
        </span>
      </div>
    </div>

    <div class="row mb_15">
      <div class="col-md-3">
        <span class="sec_title">Experience</span>
      </div>
      <div class="col-md-9">
        <span class="sec_subtitle"
          >Experience in working with and assisting a wide range of clients from
          international corporations to small/medium-sized businesses, from
          large corporate debt providers to mid-market private equity investors.
        </span>
      </div>
    </div>

    <div class="row mb_96">
      <div class="col-md-3">
        <span class="sec_title">Technology</span>
      </div>
      <div class="col-md-9">
        <span class="sec_subtitle"
          >The best combination of technology and people.
        </span>
      </div>
    </div>
  </div>
</section>
<section class="sec_2 sec_2_margin">
  <div class="container">
    <h2>Values of <span> Eden MEA </span></h2>
    <div class="row mb_15">
      <div class="col-md-3">
        <span class="sec_title">Ethics</span>
      </div>
      <div class="col-md-9">
        <span class="sec_subtitle"
          >Ethics for ConsultUs means ensuring our customers the confidentiality
          and uniqueness of the service they are provided. A client must be
          reassured by the fact that the service provided to them is
          made-to-measure and will not be recycled for their competitors.</span
        >
      </div>
    </div>
    <div class="row mb_15">
      <div class="col-md-3">
        <span class="sec_title">Quality</span>
      </div>
      <div class="col-md-9">
        <span class="sec_subtitle"
          >ConsultUs is committed to ensuring that our advice and
          recommendations are based on the best combination of methods,
          information research, creativity and internal quality assurance.
        </span>
      </div>
    </div>

    <div class="row mb_96">
      <div class="col-md-3">
        <span class="sec_title">Continuity</span>
      </div>
      <div class="col-md-9">
        <span class="sec_subtitle"
          >ConsultUs considers that the continuity of relations on the long term
          with its clients is the guarantee of the satisfaction of these and the
          quality of the services provided.
        </span>
      </div>
    </div>
  </div>
</section>

<section class="sec_4">
  <h2>Digital Transformation Approach</h2>
</section>
<section class="sec_5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col_1">
        <div class="card_container">
          <div class="num">1</div>
          <div class="img_container">
            <img src="/images/about/img_1.png" alt="img_1" />
          </div>
          <h6 class="card_title">Crypto Community</h6>
          <p class="card_subtitle">
            Unprecedented access to investment projects in the real economy
            globally
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card_container">
          <div class="num">2</div>
          <div class="img_container">
            <img src="./images/about/img_2.png" alt="img_2" />
          </div>
          <h6 class="card_title">Asset Owners</h6>
          <p class="card_subtitle">
            Proprietary tools for borderless capital raise
          </p>
        </div>
      </div>

      <div class="col-md-3 col_3">
        <div class="card_container">
          <div class="num">3</div>
          <div class="img_container">
            <img src="/images/about/img_3.png" alt="img_1" />
          </div>
          <h6 class="card_title">Registration</h6>
          <p class="card_subtitle">
            Absolute data security and maximum transparency of all
            blockchain-based transactions
          </p>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card_container">
          <div class="num">4</div>
          <div class="img_container">
            <img src="/images/about/img_4.png" alt="img_1" />
          </div>
          <h6 class="card_title">Create Solutions</h6>
          <p class="card_subtitle">
            Decentralized community-ran platform for fundraising
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
