/* sec_1 */
.sec_1 {
  background-image: url("./images/community/bg_sec_1.png");
  min-height: 30.3125rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.sec_1 .hero_container {
  padding-top: 7.0625rem;
  padding-left: 7.8125rem;
  /* padding-bottom: 7.8125rem; */
}

.sec_1 h6 {
  font-weight: 700;
  color: white;
  font-size: 1rem;
  letter-spacing: 0.1875rem;
}

.sec_1 h1 {
  font-weight: 700;
  color: white;
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 0.125rem;
  max-width: 50.1875rem;
}

.sec_1 p {
  font-weight: 400;
  color: white;
  font-size: 1rem;
  line-height: 1.75rem;
  margin-bottom: 1.5625rem;
  max-width: 37.5rem;
}

.sec_1 .btn_newsletter {
  width: 17.625rem;
  height: 3.5rem;
  background-color: #2589ad;
  color: white;
  padding: 1rem 3rem !important;
  box-shadow: 0.25rem 0.25rem 0.25rem 0rem #00000040;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

/* sec_1 */

/* sec_2 blog details */
.blog_details_sec {
  padding-top: 2.4375rem;
  padding-bottom: 7.0625rem;
}

.blog_details_sec h6 {
  font-weight: 700;
  color: #2589ad;
  font-size: 1rem;
  line-height: 0.9375rem;
  letter-spacing: 0.05625rem;
  padding-bottom: 0.625rem;
}

.blog_details_sec h3 {
  font-weight: 700;
  color: #000;
  font-size: 1.875rem;
  line-height: 2.125rem;
  letter-spacing: 0.02rem;
  padding-bottom: 1.375rem;
}

.blog_details_sec .card_container {
  border: 0.059375rem solid #00000020;
  border-radius: 0.71625rem;
  max-width: 23.4375rem;
  margin-bottom: 1.625rem;
  cursor: pointer;
}

.blog_details_sec .img_container {
  padding-top: 0.4375rem;
  padding-left: 0.125rem;
  padding-right: 0.125rem;
}

.blog_details_sec .img_container img {
  border-radius: 0.625rem;
  object-fit: cover;
}

.blog_details_sec h5 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.375rem;
  letter-spacing: 0.019375rem;
  padding-top: 0.875rem;
  padding-left: 1.25rem;
  padding-bottom: 0.625rem;
  color: #2159a6;
}

.blog_details_sec p {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 0.019375rem;
  /* padding-top: 0.875rem; */
  padding-left: 1.25rem;
  padding-bottom: 0.625rem;
  color: #1e1e1e;
  padding-right: 1.25rem;
}

.blog_details_sec .blog_writter_wrapper {
  padding-left: 1.25rem;
  padding-bottom: 1.1875rem;
}

.blog_details_sec .blog_writter_wrapper span {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 0.019375rem;
}

.blog_details_sec .blog_writter_wrapper img {
  max-width: 1.75rem;
  max-height: 1.75rem;
  object-fit: contain;
}
.blog_details_sec .text_reset {
  text-decoration: none;
}

.news_letter .input_class {
  max-width: 28.75rem;
  height: 3rem;
  border-radius: 0.25rem;
  padding: 0.75rem;
  background-color: #f8fafc;
  /* border: 0.0625rem solid red; */
}
.news_letter .label_class {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: left;
  color: #6f7482;
  width: 100%;
}
/* sec_2 blog details*/

@media (max-width: 425px) {
  .sec_1 .hero_container {
    padding: 4rem 1rem;
  }
  .blog_details_sec .col-md-4 {
    display: flex;
    justify-content: center;
  }
  .blog_details_sec .card_container {
    max-width: initial;
  }
}
