{% extends "templates/web.html" %} {% block page_content %}

<section>
  <h1>Contact Us</h1>
  <p class="sec_subtitle">Any question or remarks? Just write us a message!</p>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="contact_info_container">
          <h4>Contact Information</h4>
          <div class="mb_50">
            <img src="/images/contact/phone-call.svg" alt="phone-call icon" />
            <a class="links" href="tel:+1012 3456 789">+1012 3456 789</a>
          </div>
          <div class="mb_50">
            <img src="/images/contact/mail.svg" alt="mail icon" />
            <a class="links" href="mailto:demo@gmail.com">demo@gmail.com</a>
          </div>

          <div class="mb_50 d-flex">
            <img src="/images/contact/location.svg" alt="location icon" />
            <span
              >132 Dartmouth Street Boston, Massachusetts 02156 United
              States</span
            >
          </div>


          <div class="social_icon_container">
            <a href="#"
              ><img src="/images/footer/facebook.svg" alt="facebook icon"
            /></a>
            <a href="#"
              ><img src="/images/footer/instagram.svg" alt="instagram icon"
            /></a>
            <a href="#"
              ><img src="/images/footer/linkedin.svg" alt="linkedin icon"
            /></a>
            <a href="#" class="mr-0"
              ><img src="/images/footer/twitter.svg" alt="twitter icon"
            /></a>
          </div>





        </div>
      </div>
      <div class="col-md-7">
        <div class="form_container">
            <form >
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                               <label for=""></label> 
                               <input type="text">
                        </div>
                    </div>
                </div>
            </form>
        </div>


      </div>
    </div>
  </div>
</section>

{% endblock %}
