h1 {
  color: #000;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: normal;
  padding-top: 2.25rem;
  padding-bottom: 0.4375rem;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.sec_subtitle {
  color: #1e1e1e;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 2.0625rem;
}

.contact_info_container {
  background-image: url("/images/contact/contact_sec_bg.png");
  background-repeat: no-repeat;
  min-height: 32.8125rem;
  min-width: 30.6875rem;
  margin-bottom: 4rem;
  background-size: cover;
  padding-top: 2.5rem;
  padding-left: 2.5rem;
  border-radius: 0.9375rem;
}
.contact_info_container h4 {
  color: #fff;
  font-family: Poppins;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 2.8125rem;
}
.contact_info_container .links,
.contact_info_container span {
  color: #fff;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 1.5625rem;
  max-width: 18rem;
}
.mb_50 {
  margin-bottom: 3.125rem;
}
.social_icon_container {
  display: flex;
  padding-left: 0.8125rem;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.form_container {
  padding-left: 1.25rem;
  padding-top: 2.5rem;
}
.label_class {
  color: #8d8d8d;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 166.667% */
}
.input_class,
.text_area_class {
  background: transparent;
  border-bottom: 0.0625rem solid #8d8d8d;
  border-radius: 0;
  color: #000;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 142.857% */
}
.form-group {
  margin-bottom: 2.8125rem;
}
.form-control:focus {
  color: #000000;
  background-color: transparent;
  border-color: black;
  outline: 0;
  box-shadow: none;
}
.subject_label {
  color: #000;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem; /* 142.857% */
  margin-bottom: 0.875rem;
}

.form-check-label {
  color: #000;
  font-family: Poppins;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 166.667% */
  padding-left: 0.625rem;
}
.mb_45 {
  margin-bottom: 2.8125rem;
}
.textarea_label {
  color: #8d8d8d;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 166.667% */
  margin-bottom: 0.3125rem;
}
#textarea_input {
  height: 2.25rem;
  /* margin-bottom: 2.8125rem; */
  padding: 0;
}

.error_msg {
  display: none;
}
.btn_container {
  text-align: end;
  margin-top: 2.8125rem;
  padding-bottom: 2rem;
}

.btn_send {
  padding: 0.9375rem 3rem;
  border-radius: 0.3125rem;
  background: #2589ad;
  box-shadow: 0rem 0rem 0.875rem 0rem rgba(0, 0, 0, 0.12);
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* =======================media query ============================================ */

@media (max-width: 64rem) {
  .contact_info_container {
    min-width: auto;
  }
}
