h1 {
  color: #000;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  padding-top: 36px;
  padding-bottom: 7px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.sec_subtitle {
  color: #1e1e1e;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 33px;
}

.contact_info_container {
  background-image: url("/images/contact/contact_sec_bg.png");
  background-repeat: no-repeat;
  min-height: 525px;
  min-width: 491px;
  margin-bottom: 4rem;
  background-size: cover;
  padding-top: 40px;
  padding-left: 40px;
}
.contact_info_container h4 {
  color: #fff;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 45px;
}
.contact_info_container .links,
.contact_info_container span {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 25px;
  max-width: 288px;
}
.mb_50 {
  margin-bottom: 50px;
}
.social_icon_container {
  display: flex;
  padding-left: 13px;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.form_container {
  padding-left: 20px;
  padding-top: 40px;
}
.label_class {
  color: #8d8d8d;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
}
.input_class,
.text_area_class {
  background: transparent;
  border-bottom: 1px solid #8d8d8d;
  border-radius: 0;
}
.form-group {
  margin-bottom: 45px;
}
.form-control:focus {
  color: #000000;
  background-color: transparent;
  border-color: black;
  outline: 0;
  box-shadow: none;
}
.subject_label {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
  margin-bottom: 14px;
}

.form-check-label {
  color: #000;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  padding-left: 10px;
}
.mb_45 {
  margin-bottom: 45px;
}
.textarea_label {
  color: #8d8d8d;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  margin-bottom: 5px;
}
#textarea_input {
  height: 36px;
  /* margin-bottom: 45px; */
  padding: 0;
}

.error_msg {
  display: none;
}
.btn_container {
  text-align: end;
  margin-top: 45px;
  padding-bottom: 2rem;
}

.btn_send {
  padding: 15px 48px;
  border-radius: 5px;
  background: #2589ad;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.12);
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
