{% extends "templates/web.html" %} {% block page_content %}

<section class="sec_1pr">
  <div class="hero_content">
    <h1>Discover Our Programs</h1>
    <a class="btn btn_programs" href="">Programs</a>
  </div>
</section>

<section class="sec_2pr">
  <div class="container">
    <div>
      <h4 class="title">ERP SYSTEM</h4>
    </div>
    <div class="row">
      <div class="col-md- px-0">
        <div class="card_container">
          <h5>One App Free</h5>
          <div class="mb_21"><sup>$</sup> <span class="price">0</span></div>
          <p class="first_p">
            For <span class="fw_bold"> one app only</span>, unlimited users
          </p>
          <p class="second_p">Odoo Online</p>
          <div class="text-center">
            <button class="btn btn_start">Start Now</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card_container">
          <h5>One App Free</h5>
          <div class="mb_21"><sup>$</sup> <span class="price">0</span></div>
          <p class="first_p">
            For <span class="fw_bold"> one app only</span>, unlimited users
          </p>
          <p class="second_p">Odoo Online</p>
          <div class="text-center">
            <button class="btn btn_start">Start Now</button>
          </div>
        </div>
      </div>

      <div class="col-md-4 px-0">
        <div class="card_container">
          <h5>One App Free</h5>
          <div class="mb_21"><sup>$</sup> <span class="price">0</span></div>
          <p class="first_p">
            For <span class="fw_bold"> one app only</span>, unlimited users
          </p>
          <p class="second_p">Odoo Online</p>
          <div class="text-center">
            <button class="btn btn_start">Start Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div>
  <section class="sec_3pr">
    <div class="container">
      <h3>
        The <span class="text_blue"> Standard </span> and
        <span class="text_blue"> Custom </span> plans include all apps for a
        single fee:
      </h3>
      <div class="imgs_container">
        <div class="text-center">
          <img src="./images/pricing/Sales.svg" alt="" />
          <p class="pt_8">Sales</p>
        </div>
        <div class="text-center">
          <img src="./images/pricing/Marketing.svg" alt="" />
          <p class="pt_8">Marketing</p>
        </div>
  
        <div class="text-center">
          <img src="./images/pricing/Sign.svg" alt="" />
          <p class="pt_8">Sign</p>
        </div>
        <div class="text-center">
          <img src="./images/pricing/Website.svg" alt="" />
          <p class="pt_8">Website</p>
        </div>
  
        <div class="text-center">
          <img src="./images/pricing/Accounting.svg" alt="" />
          <p class="pt_8">Accounting</p>
        </div>
  
        <div class="text-center">
          <img src="./images/pricing/CRM.svg" alt="" />
          <p class="pt_8">CRM</p>
        </div>
  
        <div class="text-center">
          <img src="./images/pricing/HR.svg" alt="" />
          <p class="pt_8">HR</p>
        </div>
        <div class="text-center">
          <img src="./images/pricing/Project.svg" alt="" />
          <p class="pt_8">Project</p>
        </div>
        <div class="text-center">
          <img src="./images/pricing/POS.svg" alt="" />
          <p class="pt_8">POS</p>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="sec_2pr">
  <div class="container">
    <div>
      <h4 class="title">LMS SYSTEM</h4>
    </div>
    <div class="row">
      <div class="col-md-4 pl-0">
        <div class="card_container">
          <h5>One App Free</h5>
          <div class="mb_21"><sup>$</sup> <span class="price">0</span></div>
          <p class="first_p">
            For <span class="fw_bold"> one app only</span>, unlimited users
          </p>
          <p class="second_p">Odoo Online</p>
          <div class="text-center">
            <button class="btn btn_start">Start Now</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card_container">
          <h5>One App Free</h5>
          <div class="mb_21"><sup>$</sup> <span class="price">0</span></div>
          <p class="first_p">
            For <span class="fw_bold"> one app only</span>, unlimited users
          </p>
          <p class="second_p">Odoo Online</p>
          <div class="text-center">
            <button class="btn btn_start">Start Now</button>
          </div>
        </div>
      </div>

      <div class="col-md-4 pl-0">
        <div class="card_container">
          <h5>One App Free</h5>
          <div class="mb_21"><sup>$</sup> <span class="price">0</span></div>
          <p class="first_p">
            For <span class="fw_bold"> one app only</span>, unlimited users
          </p>
          <p class="second_p">Odoo Online</p>
          <div class="text-center">
            <button class="btn btn_start">Start Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sec_3pr">
  <h3>
    The <span class="text_blue"> Standard </span> and
    <span class="text_blue"> Custom </span> plans include all apps for a single
    fee:
  </h3>
  <div class="imgs_container flex_no_wrap">
    <div class="text-center">
      <img src="./images/pricing/Course Management.svg" alt="" />
      <p class="pt_8">Course Management</p>
    </div>
    <div class="text-center">
      <img src="./images/pricing/Assessment&Testing Tools.svg" alt="" />
      <p class="pt_8">Assessment&Testing Tools</p>
    </div>

    <div class="text-center">
      <img src="./images/pricing/Custom Branding.svg" alt="" />
      <p class="pt_8">Custom Branding</p>
    </div>
    <div class="text-center">
      <img src="./images/pricing/Gamification Elements.svg" alt="" />
      <p class="pt_8">Gamification Elements</p>
    </div>

    <div class="text-center">
      <img src="./images/pricing/Feedback & Survey Tools.svg" alt="" />
      <p class="pt_8">Feedback & Survey Tools</p>
    </div>

    <div class="text-center">
      <img src="./images/pricing/Language& Accessibility .svg" alt="" />
      <p class="pt_8">Language& Accessibility</p>
    </div>

    <div class="text-center">
      <img src="./images/pricing/E-Learning Portals.svg" alt="" />
      <p class="pt_8">E-Learning Portals</p>
    </div>
    <div class="text-center">
      <img src="./images/pricing/Certification& Compliance.svg" alt="" />
      <p class="pt_8">Certification& Compliance</p>
    </div>
    <div class="text-center">
      <img src="./images/pricing/Notifications& Reminder.svg" alt="" />
      <p class="pt_8">Notifications& Reminders</p>
    </div>
  </div>
</section>

<section class="discover_sec">
  <h2>Discover Our Programs</h2>

  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex justify-center">
        <div class="card_container">
          <div class="discount_container">
            <span class="discount">DISCOUNT </span>
            <span class="number"> 70%</span>
            <span class="description">Budget support for SMEs</span>
          </div>
          <h6>Enjoy the benefits of having Our funded program</h6>
          <div class="icon_p_container">
            <img src="./images/pricing/check_icon.svg" alt="" />
            <p class="px-1">
              Boost your SME with Eden's 70% cost coverage on tech products
            </p>
          </div>

          <div class="icon_p_container">
            <img src="./images/pricing/check_icon.svg" alt="" />
            <p class="px-1">
              Access tailored tech solutions to accelerate your business growth
            </p>
          </div>

          <div class="icon_p_container">
            <img src="./images/pricing/check_icon.svg" alt="" />
            <p class="px-1">Stay competitive without breaking your budget</p>
          </div>

          <div class="icon_p_container">
            <img src="./images/pricing/check_icon.svg" alt="" />
            <p class="px-1">Simplify tech management, we've got you covered</p>
          </div>

          <div class="text-center">
            <button class="btn btn_buy">BUY NOW</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card_container">
          <div class="discount_container">
            <span class="discount">DISCOUNT </span>
            <span class="number"> 70%</span>
            <span class="description">Budget support for SMEs</span>
          </div>
          <h6>Enjoy the benefits of having Our funded program</h6>
          <div class="icon_p_container">
            <img src="./images/pricing/check_icon.svg" alt="" />
            <p class="px-1">
              Boost your SME with Eden's 70% cost coverage on tech products
            </p>
          </div>

          <div class="icon_p_container">
            <img src="./images/pricing/check_icon.svg" alt="" />
            <p class="px-1">
              Access tailored tech solutions to accelerate your business growth
            </p>
          </div>

          <div class="icon_p_container">
            <img src="./images/pricing/check_icon.svg" alt="" />
            <p class="px-1">Stay competitive without breaking your budget</p>
          </div>

          <div class="icon_p_container">
            <img src="./images/pricing/check_icon.svg" alt="" />
            <p class="px-1">Simplify tech management, we've got you covered</p>
          </div>

          <div class="text-center">
            <button class="btn btn_buy">BUY NOW</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
