{% extends "templates/web.html" %} {% block page_content %}

<section class="sec_1pr">
  <div class="hero_content">
    <h1>Discover Our Programs</h1>
    <a class="btn btn_programs" href="#discover_sec_id">Programs</a>
  </div>
</section>

<section class="sec_2pr">
  <div class="container">
    <div>
      <h4 class="title">ERP SYSTEM</h4>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card_container">
          <h5>Monthly</h5>
          <div class="mb_21"><sup>$</sup> <span class="price">500</span></div>
          <div class="first_p">
            All Business Apps +
            <span class="fw_bold"> Industry Specific App *</span>

            <li>Accounting</li>
            <li>CRM</li>
            <li>Supply Chain</li>
            <li>Inventory</li>
            <li>HR & Payroll</li>
            <li>Project Managment</li>
            <li>Website</li>
          </div>
          <p class="my-4">Eden Cloud</p>
          <p class="second_p">
            * Choose your industry: Retail, Manufacuring, HealthCare, Education,
            Services.
          </p>
          <p class="second_p"></p>

          <div class="text-center pt-6">
            <a href="/contact_us" class="btn btn_start">Start Now</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card_container card_2_border">
          <h5>On-premise</h5>
          <div class="mb_21"><sup>$</sup> <span class="price">18000</span></div>
          <p class="first_p">
            All Business Apps +
            <span class="fw_bold"> Industry Specific App *</span>,

            <li>Accounting</li>
            <li>CRM</li>
            <li>Supply Chain</li>
            <li>Inventory</li>
            <li>HR & Payroll</li>
            <li>Project Managment</li>
            <li>Website</li>
          </p>
          <p class="second_p mt-4">
            * Choose your industry: Retail, Manufacuring, HealthCare, Education,
            Services.
          </p>
          <div class="text-center pt-6">
            <a href="/contact_us" class="btn btn_start">Start Now</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card_container card_3_border">
          <h5>Custom</h5>
          <!-- <div class="mb_21"><sup>$</sup> <span class="price">3600</span></div> -->
          <p class="first_p">
            Elevate your business with Eden ERP:
            <span class="fw_bold">
              Customizable, integrates with 100+ apps to meet your unique
              needs.Start your transformation
            </span>
          </p>
          <div class="text-center pt-6">
            <button
              class="btn btn_start bg_mint btn_quote"
              data-toggle="modal"
              data-target="#quoteModal"
            >
              Request a Quote
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div>
  <section class="sec_3pr">
    <div class="container">
      <h3>
        The <span class="text_blue"> Standard </span> and
        <span class="text_blue"> Custom </span> plans include all apps for a
        single fee:
      </h3>
      <div class="imgs_container">
        <div class="text-center">
          <img src="./images/pricing/Sales.svg" alt="" />
          <p class="pt_8">Sales</p>
        </div>
        <div class="text-center">
          <img src="./images/pricing/Marketing.svg" alt="" />
          <p class="pt_8">Marketing</p>
        </div>

        <div class="text-center">
          <img src="./images/pricing/Website.svg" alt="" />
          <p class="pt_8">Website</p>
        </div>

        <div class="text-center">
          <img src="./images/pricing/Accounting.svg" alt="" />
          <p class="pt_8">Accounting</p>
        </div>

        <div class="text-center">
          <img src="./images/pricing/CRM.svg" alt="" />
          <p class="pt_8">CRM</p>
        </div>

        <div class="text-center">
          <img src="./images/pricing/HR.svg" alt="" />
          <p class="pt_8">HR</p>
        </div>
        <div class="text-center">
          <img src="./images/pricing/Project.svg" alt="" />
          <p class="pt_8">Project</p>
        </div>
        <div class="text-center">
          <img src="./images/pricing/POS.svg" alt="" />
          <p class="pt_8">POS</p>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="sec_2pr">
  <div class="container">
    <div>
      <h4 class="title">LMS SYSTEM</h4>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card_container">
          <h5>Monthly</h5>
          <div class="mb_21"><sup>$</sup> <span class="price">1000</span></div>
          <p class="first_p">
            <li>Learning Portal</li>
            <li>CRM</li>
            <li>Instructor Studio</li>
            <li>Admin Dashboard</li>
            <li>Mobile Apps</li>
            <li>Multi Languages</li>
            <li>External integration</li>
          </p>
          <p class="second_p"></p>

          <div class="text-center">
            <a href="/contact_us" class="btn btn_start">Start Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card_container card_2_border">
          <h5>On-premise</h5>
          <div class="mb_21"><sup>$</sup> <span class="price">36000</span></div>
          <p class="first_p">
            <li>Learning Portal</li>
            <li>Instructor Studio</li>
            <li>Admin Dashboard</li>
            <li>Mobile Apps</li>
            <li>Multi Languages</li>
            <li>External integration</li>
          </p>
          <p class="second_p"></p>
          <div class="text-center">
            <a href="/contact_us" class="btn btn_start">Start Now</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card_container card_3_border">
          <h5>Custom</h5>
          <!-- <div class="mb_21"><sup>$</sup> <span class="price">1000</span></div> -->
          <p class="first_p">
            Explore endless possibilities with our Custom LMS. Unlock your ideas
            and contribute by contacting us now!
          </p>
          <p class="second_p"></p>

          <div class="text-center">
            <button
              class="btn btn_start btn_quote"
              data-toggle="modal"
              data-target="#quoteModal"
            >
              Request a Quote
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sec_3pr">
  <h3>
    The <span class="text_blue"> Standard </span> and
    <span class="text_blue"> Custom </span> plans include all apps for a single
    fee:
  </h3>
  <div class="imgs_container flex_no_wrap">
    <div class="text-center">
      <img src="./images/pricing/Course Management.svg" alt="" />
      <p class="pt_8">Course Management</p>
    </div>
    <div class="text-center">
      <img src="./images/pricing/Assessment&Testing Tools.svg" alt="" />
      <p class="pt_8">Assessment&Testing Tools</p>
    </div>

    <div class="text-center">
      <img src="./images/pricing/Custom Branding.svg" alt="" />
      <p class="pt_8">Custom Branding</p>
    </div>
    <div class="text-center">
      <img src="./images/pricing/Gamification Elements.svg" alt="" />
      <p class="pt_8">Gamification Elements</p>
    </div>

    <div class="text-center">
      <img src="./images/pricing/Feedback & Survey Tools.svg" alt="" />
      <p class="pt_8">Feedback & Survey Tools</p>
    </div>

    <div class="text-center">
      <img src="./images/pricing/Language& Accessibility .svg" alt="" />
      <p class="pt_8">Language& Accessibility</p>
    </div>

    <div class="text-center">
      <img src="./images/pricing/E-Learning Portals.svg" alt="" />
      <p class="pt_8">E-Learning Portals</p>
    </div>
    <div class="text-center">
      <img src="./images/pricing/Certification& Compliance.svg" alt="" />
      <p class="pt_8">Certification& Compliance</p>
    </div>
    <div class="text-center">
      <img src="./images/pricing/Notifications& Reminder.svg" alt="" />
      <p class="pt_8">Notifications& Reminders</p>
    </div>
  </div>
</section>

<section id="discover_sec_id" class="discover_sec">
  <h2>Discover Our Programs</h2>

  <div class="container">
    <div class="row">
      <div class="col-md-6 flex_start_tablet d-flex justify-center">
        <div class="card_container">
          <!-- <div class="discount_container">
            <span class="discount">DISCOUNT </span>
            <span class="number"> 70%</span>
            <span class="description">Budget support for SMEs</span>
          </div> -->
          <h6>Eden Funded SME Program</h6>
          <div class="icon_p_container">
            <img src="./images/pricing/check_icon.svg" alt="" />
            <p class="px-1">
              Up to 70% Project Funding Support: Offers up to 70% funding
              coverage for tech-related project budgets.
            </p>
          </div>

          <div class="icon_p_container">
            <img src="./images/pricing/check_icon.svg" alt="" />
            <p class="px-1">
              Customized Technological Solutions: Provides tailored tech
              solutions to meet the unique needs of each SME.
            </p>
          </div>

          <div class="icon_p_container">
            <img src="./images/pricing/check_icon.svg" alt="" />
            <p class="px-1">
              Focus on Business Maturity: Targets businesses with more than two
              years of operational experience.
            </p>
          </div>

          <div class="icon_p_container">
            <img src="./images/pricing/check_icon.svg" alt="" />
            <p class="px-1">
              Geographical Eligibility: Available to SMEs in Egypt, Jordan,
              Lebanon, Palestine, Tunisia, Turkey, and Morocco.
            </p>
          </div>

          <div class="text-center">
            <button class="btn btn_buy first_btn">BUY NOW</button>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex flex_end_tablet">
        <div class="card_container">
          <!-- <div class="discount_container">
            <span class="discount">DISCOUNT </span>
            <span class="number"> 70%</span>
            <span class="description">Eden Migration Advantage Program </span>
          </div> -->
          <h6>Eden Migration Advantage Program</h6>
          <div class="icon_p_container">
            <img src="./images/pricing/check_icon.svg" alt="" />
            <p class="px-1">Zero Migration and Implementation Cost.</p>
          </div>
          <div class="icon_p_container">
            <img src="./images/pricing/check_icon.svg" alt="" />
            <p class="px-1">Streamlined Onboarding Process.</p>
          </div>

          <div class="icon_p_container">
            <img src="./images/pricing/check_icon.svg" alt="" />
            <p class="px-1">Custom Support for Seamless Integration.</p>
          </div>

          <div class="icon_p_container">
            <img src="./images/pricing/check_icon.svg" alt="" />
            <p class="px-1">Enhanced Business Growth with No Entry Barriers.</p>
          </div>

          <div class="text-center">
            <button class="btn btn_buy second_btn">BUY NOW</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal for Request a quote -->
<div
  class="modal modal_home_sec fade show"
  id="quoteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal_header">
        <h5 class="modal-title" id="exampleModalLabel">Request a Qoute</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <!-- <img class="close_icon" src="./images/home/modal/Vector.svg" alt=""> -->
          <span class="close_icon" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>
          Thank you for your interest in Pricing information for this Product
        </h4>
        <p class="">Simply fill out the form and we’ll be in touch.</p>
        <div class="container">
          <form class="modal_form quote_modal">
            <div class="row">
              <div class="col-md-6">
                <div class="input-group">
                  <label class="label_class" for="first_name_id"
                    >First Name <span class="text_red">* </span>
                  </label>
                  <input
                    class="form-control input_class"
                    id="first_name_id"
                    type="text"
                    placeholder="Your First Name"
                  />
                  <small
                    class="form-text text-danger error_msg"
                    id="first_name_id_error"
                  ></small>
                </div>
              </div>

              <div class="col-md-6">
                <div class="input-group">
                  <label class="label_class" for="last_name_id"
                    >Last Name <span class="text_red">* </span>
                  </label>
                  <input
                    class="form-control input_class"
                    id="last_name_id"
                    type="text"
                    placeholder="Your Last Name"
                  />
                  <small
                    class="form-text text-danger error_msg"
                    id="last_name_id_error"
                  ></small>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="input-group">
                  <label class="label_class" for="country_id"
                    >Country <span class="text_red">* </span>
                  </label>
                  <input
                    class="form-control input_class first_option"
                    id="country_id"
                    placeholder="Select Your Country"
                  />

                  <small
                    class="form-text text-danger error_msg"
                    id="country_id_error"
                  ></small>
                </div>
              </div>

              <div class="col-md-6">
                <div class="input-group">
                  <label class="label_class" for="phone_number_id"
                    >Phone Number <span class="text_red">* </span>
                  </label>
                  <input
                    class="form-control input_class"
                    id="phone_number_id"
                    type="number"
                    placeholder="Text"
                    min="0"
                  />
                  <small
                    class="form-text text-danger error_msg"
                    id="phone_number_id_error"
                  ></small>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="input-group">
                  <label class="label_class" for="email_id"
                    >Email <span class="text_red">* </span>
                  </label>
                  <input
                    class="form-control input_class"
                    id="email_id"
                    type="email"
                    placeholder="Business e-mail address"
                  />
                  <small
                    class="form-text text-danger error_msg"
                    id="email_id_error"
                  ></small>
                </div>
              </div>

              <div class="col-md-6">
                <div class="input-group">
                  <label class="label_class" for="company_id"
                    >Company <span class="text_red">* </span>
                  </label>
                  <input
                    class="form-control input_class"
                    id="company_id"
                    type="text"
                    placeholder="Your Company Name"
                  />
                  <small
                    class="form-text text-danger error_msg"
                    id="company_id_error"
                  ></small>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="input-group">
                  <label class="label_class" for="no_of_employees"
                    >Number of Employees <span class="text_red">* </span>
                  </label>
                  <select
                    class="form-control input_class first_option"
                    id="no_of_employees"
                    type="number"
                  >
                    <option disabled selected value="">
                      Select Number of Employees
                    </option>
                    <option value="less 50">&lt; 50</option>
                    <option value="less 200">&lt; 200</option>
                    <option value="less 500">&lt; 500</option>
                    <option value="less 1000">&lt; 1000</option>
                  </select>
                  <small
                    class="form-text text-danger error_msg"
                    id="no_of_employees_error"
                  ></small>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 px-0">
                <div class="input-group mb_18">
                  <label class="label_class" for="message_input"
                    >Message
                  </label>
                  <textarea
                    id="message_input"
                    class="form-control txt_area_class"
                    placeholder="Your Message"
                  ></textarea>
                </div>
              </div>
              <div>
                <p class="my_18 hint">* Please complete required fields</p>
                <div>
                  <button class="btn btn_submit">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal for Request a quote -->
<script defer src="home_page.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% endblock %}
