<head>
  <link rel="stylesheet" href="home_page.css" />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
  />
</head>
<!-- sec_11_second slider -->

<section class="sec_11">
  <div class="container">
    <h6 class="sec_name">Featured news</h6>
    <h4 class="sec_title">What’s new and notable</h4>
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->

        {% if blogs %} {% for blog in blogs %}

        <div class="swiper-slide">
          <div class="row">
            <div class="col-md-6">
              <div class="slide_container">
                <h6 class="sec_name">{{blog.blog_title}}</h6>

                <p class="slide_text">{{blog.blog_subtitle}}</p>

                <div class="read_blog_link">
                  <span class="arrow_container">
                    <img
                      src="/images/home/rigt_arrow_Icon.svg"
                      class="icon_arrow"
                      alt="icon_arrow"
                    />
                  </span>
                  <a href="{{blog.blog_url_link}}" class="btn_read_more"
                    >Read the blog</a
                  >
                </div>
              </div>
            </div>
            <div class="col-md-6 d_md_flex">
              <div class="img_container">
                {% if blog.blog_image %}
                <img src="{{blog.blog_image}}" alt="featured_news_2nd_slider" />
                {% else %}
                <img
                  src="/images/home/featured_news_2nd_slider.png"
                  alt="featured_news_2nd_slider"
                />
                {% endif %}
              </div>
            </div>
          </div>
        </div>

        {% endfor %} {% endif %}
      </div>
      <!-- If we need navigation buttons -->
      <div class="nav_btns_wrapper">
        <div class="custom-button-prev">
          <img src="/images/home/prev_btn_slider.svg" alt="Previous" />
        </div>
        <div class="custom-button-next">
          <img src="/images/home/next_btn_slider.svg" alt="Next" />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- sec_11_second slider -->

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
  const swiper = new Swiper(".swiper", {
    // Navigation arrows
    navigation: {
      nextEl: ".custom-button-next",
      prevEl: ".custom-button-prev",
    },
  });
</script>
