{% extends "templates/web.html" %}

{% block page_content %}

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

</head>
<section class="hero_sec">
    <div class="row">
        <div class="col-md-7">

            <div class="hero_container">
                <h1>
                    Empowering SMEs in the Middle East and Africa through Digital Transformation
                </h1>
                <div>
                    <a href="#" class="btn btn_quote">Request a quote </a>
                    <a href="#" class="btn btn_demo">Request a demo </a>
                </div>

            </div>
        </div>
        <div class="col-md-5">
            <div class="img_container">
                <img src="/images/home/Looper_img_sec_1.svg" alt="">
            </div>

        </div>
    </div>
</section>

<section class="sec_2">
    <h6 class="sec_name">About EDEN</h6>
    <h4 class="sec_title">Shape the future of your business</h4>
    <p class="sec_subtitle">Connect your teams, processes, and data across your entire org to create exceptional
        customer experiences and
        operational agility.</p>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card_container">
                    <div class="image_container">
                        <img class="about_sec_img" src="/images/home/about_img_1.png" alt="">
                    </div>
                    <h5 class="card_title">Cloud-based ERP</h5>
                    <p class="card_subtitle">Be more efficient with Microsoft Copilot for Dynamics 365—built-in
                        AI-powered experiences
                        available for select licenses at no additional cost.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card_container">
                    <div class="image_container">
                        <img class="about_sec_img" src="/images/home/about_img_2.png" alt="">
                    </div>
                    <h5 class="card_title">Full-fledged LMS</h5>
                    <p class="card_subtitle">TalentLMS comes with all the tools you need, ready to go, right out of the
                        box.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sec_3">
    <div class="container">
        <h6 class="sec_name">OUR WORKSHOPS</h6>
        <h4 class="sec_title">Don’t miss out on any upcoming events by the team behind
            ERPNext!</h4>
        <div class="row">
            <div class="col-md-4 pl-0">
                <div class="card_container">
                    <div class="image_container">
                        <img class="about_sec_img" src="/images/home/workshop_1.png" alt="workshop event image">
                        <span class="badge badge_notify">Upcoming</span>

                    </div>
                    <h5 class="card_title">Eden Local - Cairo 2024</h5>
                    <p class="card_subtitle">This February 2024 , Frappe will join Aakvatech Limited &
                        VV System Developer Limited to meet and connect with
                        the</p>
                    <div>
                        <img class="icon_container" src="/images/home/tinme_icon.svg" alt="tinme_icon">
                        <span class="icon_text"> Date: February 8, 2024</span>
                    </div>
                    <div class="">
                        <img class="icon_container" src="/images/home/calendar_icon.svg" alt="calendar_icon">
                        <span class="icon_text">Time: 3:30 PM EAT - 9:30 PM EAT</span>
                    </div>
                    <div class="btn_container">
                        <a class="btn btn_reginster" href="">Register here !</a>
                    </div>

                </div>
            </div>

            <div class="col-md-4 ">
                <div class="card_container">
                    <div class="image_container">
                        <img class="about_sec_img" src="/images/home/workshop_2.png" alt="workshop event image">
                        <span class="badge badge_notify">Upcoming</span>

                    </div>
                    <h5 class="card_title">Eden Local - Cairo 2024</h5>
                    <p class="card_subtitle">This February 2024 , Frappe will join Aakvatech Limited &
                        VV System Developer Limited to meet and connect with
                        the</p>
                    <div>
                        <img class="icon_container" src="/images/home/tinme_icon.svg" alt="tinme_icon">
                        <span class="icon_text"> Date: February 8, 2024</span>
                    </div>
                    <div class="">
                        <img class="icon_container" src="/images/home/calendar_icon.svg" alt="calendar_icon">
                        <span class="icon_text">Time: 3:30 PM EAT - 9:30 PM EAT</span>
                    </div>
                    <div class="btn_container">
                        <a class="btn btn_reginster" href="">Register here !</a>
                    </div>

                </div>
            </div>

            <div class="col-md-4">
                <div class="card_container">
                    <div class="image_container">
                        <img class="about_sec_img" src="/images/home/workshop_3.png" alt="workshop event image">
                        <span class="badge badge_notify">Upcoming</span>

                    </div>
                    <h5 class="card_title">Let's learn ERPNext</h5>
                    <p class="card_subtitle"> Frappe is making a grand comeback with its highly anticipated annual
                        conference in September 2023, and it's going to be bigger and better than ever before. While
                        Frappe Conferences have traditionally focused on community growth and engaging discussions about
                        ERPNext, this year we're ready to revolutionize the event and "Think beyond ERPNext."
                    </p>



                </div>
            </div>
        </div>

    </div>

</section>


<section class="sec_4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h6 class="sec_name">SOLUTIONS</h6>
                <h4 class="sec_title">Why Go Digital </h4>
                <div class="accordio_container">
                    <div id="accordion">
                        <div class="accordion_container">
                            <div class="" id="headingOne">
                                <h5 class="mb-0 center_icon">
                                    <button class="btn btn-link collapsed accordion_title" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        Know your customers to increase sales </button>
                                    <span> <img src="/images/home/arrow_Vector.svg" alt="icon collapse"> </span>



                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="accordion_body">
                                    Grow your revenue by using AI and real-time insights to
                                    understand customers, personalize journeys, and close
                                    more deals.

                                    <div class="link_container">
                                        <a class="accordion_link" href="">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion_container">
                            <div class="" id="headingTwo">
                                <h5 class="mb-0 center_icon">
                                    <button class="btn btn-link collapsed accordion_title" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Personalize service experiences </button>
                                    <span> <img src="/images/home/arrow_Vector.svg" alt="icon collapse"> </span>

                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordion">
                                <div class="accordion_body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                    aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                                    ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                    <div class="link_container">
                                        <a class="accordion_link" href="">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion_container">
                            <div class="" id="headingThree">
                                <h5 class="mb-0 center_icon">
                                    <button class="btn btn-link collapsed accordion_title" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        Move beyond traditional finance </button>
                                    <span> <img src="/images/home/arrow_Vector.svg" alt="icon collapse"> </span>


                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="accordion_body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                    aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                                    ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                    <div class="link_container">
                                        <a class="accordion_link" href="">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion_container">
                            <div class="" id="headingFour">
                                <h5 class="mb-0 center_icon">
                                    <button class="btn btn-link collapsed accordion_title" data-toggle="collapse"
                                        data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Deliver more supply chain agility </button>
                                    <span> <img src="/images/home/arrow_Vector.svg" alt="icon collapse"> </span>

                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                data-parent="#accordion">
                                <div class="accordion_body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                    aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                                    ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                    <div class="link_container">
                                        <a class="accordion_link" href="">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="accordion_container">
                            <div class="" id="headingFive">
                                <h5 class="mb-0 center_icon">
                                    <button class="btn btn-link collapsed accordion_title" data-toggle="collapse"
                                        data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        Ready your business for growth </button>
                                    <span> <img src="/images/home/arrow_Vector.svg" alt="icon collapse"> </span>

                                </h5>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                data-parent="#accordion">
                                <div class="accordion_body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                    brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                                    aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                    Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                                    ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them
                                    accusamus labore sustainable VHS.
                                    <div class="link_container">
                                        <a class="accordion_link" href="">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img_container">
                    <img src="/images/home/planet_solutions.svg" alt="planet_solutions img">
                </div>
            </div>
        </div>
    </div>
</section>


<section class="sec_5">
    <div class="container">
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="img_container">
                                <img src="/images/home/sloution_img.png" alt="sloution_img">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="slide_container">
                                <h6 class="sec_name">Solutions</h6>
                                <h4 class="sec_title">Retail & Manufacturing </h4>
                                <p class="slide_text">Unleashing the Beauty of Handmade Furniture: Elevate Your Space with Artistry and Quality
                                </p>
                                <p class="slide_text mb_11">
                                    Exquisite Handmade Furniture: Meticulously Crafted for Timeless Beauty.
                                </p>
                                <div class="mb_18">
                                    <a href="" class="btn_read_more">Read more</a>
                                    <span class="arrow_container"> <img src="/images/home/rigt_arrow_Icon.svg" class="icon_arrow" alt="icon_arrow"> </span>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>


                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
                ...
            </div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"> <img src="/images/home/prev_btn_slider.svg" alt="prev_btn_slider"> </div>
            <div class="swiper-button-next"> <img src="/images/home/next_btn_slider.svg" alt="next_btn_slider">  </div>

        </div>
    </div>
</section>












<style>
    .swiper {
        /* width: 600px; */
        height: 381px;
    }
</style>











<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    const swiper = new Swiper('.swiper', {
        // Optional parameters
        // direction: 'vertical',
        // loop: true,

        // If we need pagination
        // pagination: {
        //     el: '.swiper-pagination',
        // },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
        // scrollbar: {
        //     el: '.swiper-scrollbar',
        // },
    });
</script>

{% endblock %}