{% extends "templates/web.html" %} {% block page_content %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<section class="hero_sec">
  <div class="row">
    <div class="col-md-7">
      <div class="hero_container">
        <h1>Empowering Companies Worldwide through Digital Transformation.</h1>
        <p class="hashtags">#InfinitePossibilities</p>
        <div>
          <button
            class="btn btn_quote"
            data-toggle="modal"
            data-target="#quoteModal"
          >
            Request a quote
          </button>
          <button
            class="btn btn_demo"
            data-toggle="modal"
            data-target="#demoModal"
          >
            Request a demo
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="img_container">
        <img src="/images/home/Looper_img_sec_1.svg" alt="" />
      </div>
    </div>
  </div>
</section>

<!-- Modal for Request a quote -->
<div
  class="modal modal_home_sec fade show"
  id="quoteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal_header">
        <h5 class="modal-title" id="exampleModalLabel">Request a Qoute</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <!-- <img class="close_icon" src="./images/home/modal/Vector.svg" alt=""> -->
          <span class="close_icon" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>
          Thank you for your interest in Pricing information for this Product
        </h4>
        <p class="">Simply fill out the form and we’ll be in touch.</p>
        <div class="container">
          <form class="modal_form quote_modal">
            <div class="row">
              <div class="col-md-6">
                <div class="input-group">
                  <label class="label_class" for="first_name_id"
                    >First Name <span class="text_red">* </span>
                  </label>
                  <input
                    class="form-control input_class"
                    id="first_name_id"
                    type="text"
                    placeholder="Your First Name"
                  />
                  <small
                    class="form-text text-danger error_msg"
                    id="first_name_id_error"
                  ></small>
                </div>
              </div>

              <div class="col-md-6">
                <div class="input-group">
                  <label class="label_class" for="last_name_id"
                    >Last Name <span class="text_red">* </span>
                  </label>
                  <input
                    class="form-control input_class"
                    id="last_name_id"
                    type="text"
                    placeholder="Your Last Name"
                  />
                  <small
                    class="form-text text-danger error_msg"
                    id="last_name_id_error"
                  ></small>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="input-group">
                  <label class="label_class" for="country_id"
                    >Country <span class="text_red">* </span>
                  </label>
                  <input
                    class="form-control input_class first_option"
                    id="country_id"
                    placeholder="Select Your Country"
                  />

                  <small
                    class="form-text text-danger error_msg"
                    id="country_id_error"
                  ></small>
                </div>
              </div>

              <div class="col-md-6">
                <div class="input-group">
                  <label class="label_class" for="phone_number_id"
                    >Phone Number <span class="text_red">* </span>
                  </label>
                  <input
                    class="form-control input_class"
                    id="phone_number_id"
                    type="number"
                    placeholder="Text"
                    min="0"
                  />
                  <small
                    class="form-text text-danger error_msg"
                    id="phone_number_id_error"
                  ></small>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="input-group">
                  <label class="label_class" for="email_id"
                    >Email <span class="text_red">* </span>
                  </label>
                  <input
                    class="form-control input_class"
                    id="email_id"
                    type="email"
                    placeholder="Business e-mail address"
                  />
                  <small
                    class="form-text text-danger error_msg"
                    id="email_id_error"
                  ></small>
                </div>
              </div>

              <div class="col-md-6">
                <div class="input-group">
                  <label class="label_class" for="company_id"
                    >Company <span class="text_red">* </span>
                  </label>
                  <input
                    class="form-control input_class"
                    id="company_id"
                    type="text"
                    placeholder="Your Company Name"
                  />
                  <small
                    class="form-text text-danger error_msg"
                    id="company_id_error"
                  ></small>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="input-group">
                  <label class="label_class" for="no_of_employees"
                    >Number of Employees <span class="text_red">* </span>
                  </label>
                  <select
                    class="form-control input_class first_option"
                    id="no_of_employees"
                    type="number"
                  >
                    <option disabled selected value="">
                      Select Number of Employees
                    </option>
                    <option value="less 50">&lt; 50</option>
                    <option value="less 200">&lt; 200</option>
                    <option value="less 500">&lt; 500</option>
                    <option value="less 1000">&lt; 1000</option>
                  </select>
                  <small
                    class="form-text text-danger error_msg"
                    id="no_of_employees_error"
                  ></small>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 px-0">
                <div class="input-group mb_18">
                  <label class="label_class" for="message_input"
                    >Message
                  </label>
                  <textarea
                    id="message_input"
                    class="form-control txt_area_class"
                    placeholder="Your Message"
                  ></textarea>
                </div>
              </div>
              <div>
                <p class="my_18 hint">* Please complete required fields</p>
                <div>
                  <button class="btn btn_submit">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal for Request a quote -->

<!-- Modal for Request a Demo -->
<div
  class="modal modal_home_sec fade show"
  id="demoModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal_header">
        <h5 class="modal-title" id="exampleModalLabel">Request a Demo</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <!-- <img class="close_icon" src="./images/home/modal/Vector.svg" alt=""> -->
          <span class="close_icon" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>
          Thank you for your interest in receiving a demo of Eden solutions
        </h4>
        <p class="">Simply fill out the form and we’ll be in touch.</p>
        <div class="container">
          <form class="modal_form demo_modal">
            <div class="row">
              <div class="col-md-6">
                <div class="input-group">
                  <label class="label_class" for="first_name_id"
                    >First Name <span class="text_red">* </span>
                  </label>
                  <input
                    class="form-control input_class"
                    id="first_name_id"
                    type="text"
                    placeholder="Your First Name"
                  />
                  <small
                    class="form-text text-danger error_msg"
                    id="first_name_id_error"
                  ></small>
                </div>
              </div>

              <div class="col-md-6">
                <div class="input-group">
                  <label class="label_class" for="last_name_id"
                    >Last Name <span class="text_red">* </span>
                  </label>
                  <input
                    class="form-control input_class"
                    id="last_name_id"
                    type="text"
                    placeholder="Your Last Name"
                  />
                  <small
                    class="form-text text-danger error_msg"
                    id="last_name_id_error"
                  ></small>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="input-group">
                  <label class="label_class" for="country_id"
                    >Country <span class="text_red">* </span>
                  </label>
                  <input
                    class="form-control input_class first_option"
                    id="country_id"
                    placeholder="Select Your Country"
                  />

                  <small
                    class="form-text text-danger error_msg"
                    id="country_id_error"
                  ></small>
                </div>
              </div>

              <div class="col-md-6">
                <div class="input-group">
                  <label class="label_class" for="phone_number_id"
                    >Phone Number <span class="text_red">* </span>
                  </label>
                  <input
                    class="form-control input_class"
                    id="phone_number_id"
                    type="number"
                    placeholder="Text"
                    min="0"
                  />
                  <small
                    class="form-text text-danger error_msg"
                    id="phone_number_id_error"
                  ></small>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="input-group">
                  <label class="label_class" for="email_id"
                    >Email <span class="text_red">* </span>
                  </label>
                  <input
                    class="form-control input_class"
                    id="email_id"
                    type="email"
                    placeholder="Business e-mail address"
                  />
                  <small
                    class="form-text text-danger error_msg"
                    id="email_id_error"
                  ></small>
                </div>
              </div>

              <div class="col-md-6">
                <div class="input-group">
                  <label class="label_class" for="company_id"
                    >Company <span class="text_red">* </span>
                  </label>
                  <input
                    class="form-control input_class"
                    id="company_id"
                    type="text"
                    placeholder="Your Company Name"
                  />
                  <small
                    class="form-text text-danger error_msg"
                    id="company_id_error"
                  ></small>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="input-group">
                  <label class="label_class" for="no_of_employees"
                    >Number of Employees <span class="text_red">* </span>
                  </label>
                  <select
                    class="form-control input_class first_option"
                    id="no_of_employees"
                    type="number"
                  >
                    <option disabled selected value="">
                      Select Number of Employees
                    </option>
                    <option value="less 50">&lt; 50</option>
                    <option value="less 200">&lt; 200</option>
                    <option value="less 500">&lt; 500</option>
                    <option value="less 1000">&lt; 1000</option>
                  </select>
                  <small
                    class="form-text text-danger error_msg"
                    id="no_of_employees_error"
                  ></small>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 px-0">
                <div class="input-group mb_18">
                  <label class="label_class" for="message_input"
                    >Message
                  </label>
                  <textarea
                    id="message_input"
                    class="form-control txt_area_class"
                    placeholder="Your Message"
                  ></textarea>
                </div>
              </div>
              <div>
                <p class="my_18 hint">* Please complete required fields</p>
                <div>
                  <button class="btn btn_submit">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal for Request a Demo -->

{% include 'eden_app/www/about_eden_sec.html' %}

<!-- code for workshops here -->
{% include 'eden_app/www/our_workshops_sec.html' %}

<section class="sec_4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h6 class="sec_name">SOLUTIONS</h6>
        <h4 class="sec_title">Why Go Digital</h4>
        <div class="accordio_container">
          <div id="accordion">
            <div class="accordion_container">
              <div class="" id="headingOne">
                <h5 class="mb-0 center_icon">
                  <button
                    class="btn btn-link collapsed accordion_title"
                    data-toggle="collapse"
                    data-target="#collapseOne"
                    aria-expanded="false"
                    aria-controls="collapseOne"
                  >
                    Improved Efficiency Optimizing Business Processes:
                    <span>
                      <img
                        src="/images/home/arrow_Vector.svg"
                        alt="icon collapse"
                      />
                    </span>
                  </button>
                </h5>
              </div>
              <div
                id="collapseOne"
                class="collapse"
                aria-labelledby="headingOne"
                data-parent="#accordion"
              >
                <div class="accordion_body">
                  Digital transformation streamlines operations and automates
                  repetitive tasks. It enhances workflow efficiency, reducing
                  manual errors and freeing up employees to focus on strategic
                  tasks.
                </div>
              </div>
            </div>
            <div class="accordion_container">
              <div class="" id="headingTwo">
                <h5 class="mb-0 center_icon">
                  <button
                    class="btn btn-link collapsed accordion_title"
                    data-toggle="collapse"
                    data-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                    Using Data for Smart Choices Make Informed Decisions:
                    <span>
                      <img
                        src="/images/home/arrow_Vector.svg"
                        alt="icon collapse"
                      />
                    </span>
                  </button>
                </h5>
              </div>
              <div
                id="collapseTwo"
                class="collapse"
                aria-labelledby="headingTwo"
                data-parent="#accordion"
              >
                <div class="accordion_body">
                  Digital transformation helps you use data to make smart
                  choices. You can learn about customer behavior, market trends,
                  and how well you're doing, which keeps you competitive.
                </div>
              </div>
            </div>
            <div class="accordion_container">
              <div class="" id="headingThree">
                <h5 class="mb-0 center_icon">
                  <button
                    class="btn btn-link collapsed accordion_title"
                    data-toggle="collapse"
                    data-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                    Cost Efficiency and Savings Spending Wisely:
                    <span>
                      <img
                        src="/images/home/arrow_Vector.svg"
                        alt="icon collapse"
                      />
                    </span>
                  </button>
                </h5>
              </div>
              <div
                id="collapseThree"
                class="collapse"
                aria-labelledby="headingThree"
                data-parent="#accordion"
              >
                <div class="accordion_body">
                  Digital transformation can help your business save money by
                  making operations more efficient. By utilizing analytics, you
                  can identify gaps and areas for improvement, leading to
                  smarter spending and increased savings.
                </div>
              </div>
            </div>

            <div class="accordion_container">
              <div class="" id="headingFour">
                <h5 class="mb-0">
                  <button
                    class="btn btn-link collapsed accordion_title"
                    data-toggle="collapse"
                    data-target="#collapseFour"
                    aria-expanded="false"
                    aria-controls="collapseFour"
                  >
                    Improved Performance of your team With digital
                    transformation:
                    <span>
                      <img
                        src="/images/home/arrow_Vector.svg"
                        alt="icon collapse"
                      />
                    </span>
                  </button>
                </h5>
              </div>
              <div
                id="collapseFour"
                class="collapse"
                aria-labelledby="headingFour"
                data-parent="#accordion"
              >
                <div class="accordion_body">
                  You can achieve better performance and have a clearer view of
                  your operations. This makes audits smoother and more
                  effective, ensuring your business runs at its best.
                </div>
              </div>
            </div>

            <div class="accordion_container">
              <div class="" id="headingFive">
                <h5 class="mb-0 center_icon">
                  <button
                    class="btn btn-link collapsed accordion_title"
                    data-toggle="collapse"
                    data-target="#collapseFive"
                    aria-expanded="false"
                    aria-controls="collapseFive"
                  >
                    Ready business for growth Ready for What's Next:
                    <span>
                      <img
                        src="/images/home/arrow_Vector.svg"
                        alt="icon collapse"
                      />
                    </span>
                  </button>
                </h5>
              </div>
              <div
                id="collapseFive"
                class="collapse"
                aria-labelledby="headingFive"
                data-parent="#accordion"
              >
                <div class="accordion_body">
                  Digital transformation ensures your business is prepared for
                  the future. It equips you to adapt and thrive in a rapidly
                  changing world, keeping your business relevant and resilient.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 d_mob_none">
        <div class="img_container">
          <img
            src="/images/home/planet_solutions.svg"
            alt="planet_solutions img"
          />
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'eden_app/www/solutions_sec.html' %} {% include
'eden_app/www/funded_program_sec.html' %}

<!-- first sec wit tabs -->

{% include 'eden_app/www/modules_sec.html' %}

<!-- first sec wit tabs -->

{% include 'eden_app/www/trusted_companies_sec.html' %}

<!-- second sec wit tabs -->
{% include 'eden_app/www/customer_stories_sec.html' %}
<!-- second sec wit tabs -->
{% include 'eden_app/www/why_choose_eden_sec.html' %}

<!-- sec_11_second slider -->

{% include 'eden_app/www/featured_news_sec.html' %}

<!-- sec_11_second slider -->
<!-- sec_12 last sec -->
{% include 'eden_app/www/get_started_last_sec.html' %}

<!-- sec_11 last sec -->

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
  // const swiper = new Swiper(".swiper", {
  //   navigation: {
  //     nextEl: ".custom-button-next",
  //     prevEl: ".custom-button-prev",
  //   },
  // });
</script>
{% endblock %}
