{% extends "templates/web.html" %} {% block page_content %}

<head>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
  />
</head>
<section class="hero_sec">
  <div class="row">
    <div class="col-md-7">
      <div class="hero_container">
        <h1>
          Empowering SMEs in the Middle East and Africa through Digital
          Transformation
        </h1>
        <div>
          <a href="#" class="btn btn_quote">Request a quote </a>
          <a href="#" class="btn btn_demo">Request a demo </a>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="img_container">
        <img src="/images/home/Looper_img_sec_1.svg" alt="" />
      </div>
    </div>
  </div>
</section>

<section class="sec_2">
  <h6 class="sec_name">About EDEN</h6>
  <h4 class="sec_title">Shape the future of your business</h4>
  <p class="sec_subtitle">
    Unify your workforce, streamline processes, and integrate data seamlessly
    throughout your organization, laying the foundation for outstanding customer
    interactions and enhanced operational flexibility.
  </p>
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex justify-center">
        <div class="card_container">
          <div class="image_container">
            <img
              class="about_sec_img"
              src="/images/home/about_img_1.png"
              alt=""
            />
          </div>
          <h5 class="card_title">Cloud-based ERP</h5>
          <p class="card_subtitle">
            Maximize efficiency and streamline operations with Eden ERP,
            unlocking new levels of productivity for your business and dive into
            data with advanced analytics that turn insights into action,
            propelling your business forward.
          </p>
        </div>
      </div>
      <div class="col-md-6 d-flex justify-center">
        <div class="card_container">
          <div class="image_container">
            <img
              class="about_sec_img"
              src="/images/home/about_img_2.png"
              alt=""
            />
          </div>
          <h5 class="card_title">Full-fledged LMS</h5>
          <p class="card_subtitle">
            Transform the way you educate and train with our cutting-edge
            Learning Management System. Dive into a world of interactive
            learning, performance tracking, and unparalleled user engagement.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- code for workshops here -->

<div>
  new

  <div>{{ workshops }} {{ workshop }}</div>
</div>

<section class="sec_4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h6 class="sec_name">SOLUTIONS</h6>
        <h4 class="sec_title">Why Go Digital</h4>
        <div class="accordio_container">
          <div id="accordion">
            <div class="accordion_container">
              <div class="" id="headingOne">
                <h5 class="mb-0 center_icon">
                  <button
                    class="btn btn-link collapsed accordion_title"
                    data-toggle="collapse"
                    data-target="#collapseOne"
                    aria-expanded="false"
                    aria-controls="collapseOne"
                  >
                    Improved Efficiency Optimizing Business Processes:
                  </button>
                  <span>
                    <img
                      src="/images/home/arrow_Vector.svg"
                      alt="icon collapse"
                    />
                  </span>
                </h5>
              </div>
              <div
                id="collapseOne"
                class="collapse"
                aria-labelledby="headingOne"
                data-parent="#accordion"
              >
                <div class="accordion_body">
                  Digital transformation streamlines operations and automates
                  repetitive tasks. It enhances workflow efficiency, reducing
                  manual errors and freeing up employees to focus on strategic
                  tasks.

                  <div class="link_container">
                    <a class="accordion_link" href="">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion_container">
              <div class="" id="headingTwo">
                <h5 class="mb-0 center_icon">
                  <button
                    class="btn btn-link collapsed accordion_title"
                    data-toggle="collapse"
                    data-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                    Using Data for Smart Choices Make Informed Decisions:
                  </button>
                  <span>
                    <img
                      src="/images/home/arrow_Vector.svg"
                      alt="icon collapse"
                    />
                  </span>
                </h5>
              </div>
              <div
                id="collapseTwo"
                class="collapse"
                aria-labelledby="headingTwo"
                data-parent="#accordion"
              >
                <div class="accordion_body">
                  Digital transformation helps you use data to make smart
                  choices. You can learn about customer behavior, market trends,
                  and how well you're doing, which keeps you competitive.
                  <div class="link_container">
                    <a class="accordion_link" href="">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion_container">
              <div class="" id="headingThree">
                <h5 class="mb-0 center_icon">
                  <button
                    class="btn btn-link collapsed accordion_title"
                    data-toggle="collapse"
                    data-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                    Cost Efficiency and Savings Spending Wisely:
                  </button>
                  <span>
                    <img
                      src="/images/home/arrow_Vector.svg"
                      alt="icon collapse"
                    />
                  </span>
                </h5>
              </div>
              <div
                id="collapseThree"
                class="collapse"
                aria-labelledby="headingThree"
                data-parent="#accordion"
              >
                <div class="accordion_body">
                  Digital transformation can help your business save money by
                  making operations more efficient. By utilizing analytics, you
                  can identify gaps and areas for improvement, leading to
                  smarter spending and increased savings.
                  <div class="link_container">
                    <a class="accordion_link" href="">Learn more</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="accordion_container">
              <div class="" id="headingFour">
                <h5 class="mb-0 center_icon">
                  <button
                    class="btn btn-link collapsed accordion_title"
                    data-toggle="collapse"
                    data-target="#collapseFour"
                    aria-expanded="false"
                    aria-controls="collapseFour"
                  >
                    Improved Performance of your team With digital
                    transformation,
                  </button>
                  <span>
                    <img
                      src="/images/home/arrow_Vector.svg"
                      alt="icon collapse"
                    />
                  </span>
                </h5>
              </div>
              <div
                id="collapseFour"
                class="collapse"
                aria-labelledby="headingFour"
                data-parent="#accordion"
              >
                <div class="accordion_body">
                  you can achieve better performance and have a clearer view of
                  your operations. This makes audits smoother and more
                  effective, ensuring your business runs at its best.
                  <div class="link_container">
                    <a class="accordion_link" href="">Learn more</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="accordion_container">
              <div class="" id="headingFive">
                <h5 class="mb-0 center_icon">
                  <button
                    class="btn btn-link collapsed accordion_title"
                    data-toggle="collapse"
                    data-target="#collapseFive"
                    aria-expanded="false"
                    aria-controls="collapseFive"
                  >
                    Ready business for growth Ready for What's Next:
                  </button>
                  <span>
                    <img
                      src="/images/home/arrow_Vector.svg"
                      alt="icon collapse"
                    />
                  </span>
                </h5>
              </div>
              <div
                id="collapseFive"
                class="collapse"
                aria-labelledby="headingFive"
                data-parent="#accordion"
              >
                <div class="accordion_body">
                  Digital transformation ensures your business is prepared for
                  the future. It equips you to adapt and thrive in a rapidly
                  changing world, keeping your business relevant and resilient.
                  <div class="link_container">
                    <a class="accordion_link" href="">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 d_mob_none">
        <div class="img_container">
          <img
            src="/images/home/planet_solutions.svg"
            alt="planet_solutions img"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sec_5">
  <div class="container">
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="row">
            <div class="col-md-6">
              <div class="img_container">
                <img src="/images/home/sloution_img.png" alt="sloution_img" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="slide_container">
                <h6 class="sec_name">Solutions</h6>
                <h4 class="sec_title">Retail</h4>
                <p class="slide_text">
                  Enhance shopping experiences on all platforms
                </p>
                <p class="slide_text mb_11">
                  and make your supply chain more sustainable with our retail
                  solutions in the cloud
                </p>
                <div class="mb_18">
                  <a href="" class="btn_read_more">Read more</a>
                  <span class="arrow_container">
                    <img
                      src="/images/home/rigt_arrow_Icon.svg"
                      class="icon_arrow"
                      alt="icon_arrow"
                    />
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="row">
            <div class="col-md-6">
              <div class="img_container">
                <img src="/images/home/sloution_img.png" alt="sloution_img" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="slide_container">
                <h6 class="sec_name">Solutions</h6>
                <h4 class="sec_title">Healthcare</h4>
                <p class="slide_text">
                  Embrace patient-centered care and achieve significantly
                  improved outcomes
                </p>
                <p class="slide_text mb_11">
                  by leveraging our data-driven, smart healthcare solutions.
                </p>
                <div class="mb_18">
                  <a href="" class="btn_read_more">Read more</a>
                  <span class="arrow_container">
                    <img
                      src="/images/home/rigt_arrow_Icon.svg"
                      class="icon_arrow"
                      alt="icon_arrow"
                    />
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="row">
            <div class="col-md-6">
              <div class="img_container">
                <img src="/images/home/sloution_img.png" alt="sloution_img" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="slide_container">
                <h6 class="sec_name">Solutions</h6>
                <h4 class="sec_title">Manufacturing</h4>
                <p class="slide_text">
                  Streamline manufacturing, enhance efficiency,
                </p>
                <p class="slide_text mb_11">
                  and minimize costs with our integrated supply chain management
                  for optimal manufacturing processes and increased gross
                  profit.
                </p>
                <div class="mb_18">
                  <a href="" class="btn_read_more">Read more</a>
                  <span class="arrow_container">
                    <img
                      src="/images/home/rigt_arrow_Icon.svg"
                      class="icon_arrow"
                      alt="icon_arrow"
                    />
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="row">
            <div class="col-md-6">
              <div class="img_container">
                <img src="/images/home/sloution_img.png" alt="sloution_img" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="slide_container">
                <h6 class="sec_name">Solutions</h6>
                <h4 class="sec_title">Education</h4>
                <p class="slide_text">
                  To educate the next generation effectively
                </p>
                <p class="slide_text mb_11">
                  and remain at the cutting edge of educational advancements,
                  schools and universities are incorporating intelligent
                  education software solutions.
                </p>
                <div class="mb_18">
                  <a href="" class="btn_read_more">Read more</a>
                  <span class="arrow_container">
                    <img
                      src="/images/home/rigt_arrow_Icon.svg"
                      class="icon_arrow"
                      alt="icon_arrow"
                    />
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="row">
            <div class="col-md-6">
              <div class="img_container">
                <img src="/images/home/sloution_img.png" alt="sloution_img" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="slide_container">
                <h6 class="sec_name">Solutions</h6>
                <h4 class="sec_title">Hospitality</h4>
                <p class="slide_text">
                  Elevate guest experiences and streamline operations with our
                  innovative hospitality management solutions,
                </p>
                <p class="slide_text mb_11">
                  including seamless payment gateways, advanced reservation
                  systems and setting new standards for service quality.
                </p>
                <div class="mb_18">
                  <a href="" class="btn_read_more">Read more</a>
                  <span class="arrow_container">
                    <img
                      src="/images/home/rigt_arrow_Icon.svg"
                      class="icon_arrow"
                      alt="icon_arrow"
                    />
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="row">
            <div class="col-md-6">
              <div class="img_container">
                <img src="/images/home/sloution_img.png" alt="sloution_img" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="slide_container">
                <h6 class="sec_name">Solutions</h6>
                <h4 class="sec_title">Engineering & Construction</h4>
                <p class="slide_text">
                  Empower Your Projects: Create larger, more sustainable
                  ventures with our services management software.
                </p>
                <p class="slide_text mb_11">
                  Collaborate effectively, mitigate risks, and stand out in your
                  field.
                </p>  
                <div class="mb_18">
                  <a href="" class="btn_read_more">Read more</a>
                  <span class="arrow_container">
                    <img
                      src="/images/home/rigt_arrow_Icon.svg"
                      class="icon_arrow"
                      alt="icon_arrow"
                    />
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- If we need navigation buttons -->
      <div class="nav_btns_wrapper">
        <div class="custom-button-prev">
          <img src="/images/home/prev_btn_slider.svg" alt="Previous" />
        </div>
        <div class="custom-button-next">
          <img src="/images/home/next_btn_slider.svg" alt="Next" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sec_6">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="img_container">
          <img src="/images/home/sec_6_img.png" alt="sec_6_img" />
        </div>
      </div>
      <div class="col-md-6 d-flex align-center">
        <div class="text_container">
          <h3>Enjoy the benefits of having Our funded program</h3>
          <div class="mb_15">
            <span class="pr_6">
              <img
                src="/images/home/icon_check_true.svg"
                alt="icon_check_true"
              />
            </span>
            <span class="text_card"
              >Save on your tech stack with one HR and payroll platform</span
            >
          </div>

          <div class="mb_15">
            <span class="pr_6">
              <img
                src="/images/home/icon_check_true.svg"
                alt="icon_check_true"
              />
            </span>
            <span class="text_card"
              >Reduce onboarding time to just 5 minutes</span
            >
          </div>
          <div class="mb_15">
            <span class="pr_6">
              <img
                src="/images/home/icon_check_true.svg"
                alt="icon_check_true"
              />
            </span>
            <span class="text_card"
              >Eliminate errors and duplicate work with one process</span
            >
          </div>
          <div class="mb_15">
            <span class="pr_6">
              <img
                src="/images/home/icon_check_true.svg"
                alt="icon_check_true"
              />
            </span>
            <span class="text_card"
              >Get a holistic view of employer costs, headcount and churn</span
            >
          </div>
          <div class="mb_15">
            <span class="pr_6">
              <img
                src="/images/home/icon_check_true.svg"
                alt="icon_check_true"
              />
            </span>
            <span class="text_card"
              >Give your whole team a consistent experience</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- first sec wit tabs -->

{% include 'eden_app/www/modules_sec.html' %}

<!-- first sec wit tabs -->

{% include 'eden_app/www/trusted_companies_sec.html' %}

<!-- second sec wit tabs -->
{% include 'eden_app/www/customer_stories_sec.html' %}
<!-- second sec wit tabs -->
{% include 'eden_app/www/why_choose_eden_sec.html' %}

<!-- sec_11_second slider -->

{% include 'eden_app/www/featured_news_sec.html' %}

<!-- sec_11_second slider -->
<!-- sec_12 last sec -->
{% include 'eden_app/www/get_started_last_sec.html' %}

<!-- sec_11 last sec -->

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
  const swiper = new Swiper(".swiper", {
    // Navigation arrows
    navigation: {
      nextEl: ".custom-button-next",
      prevEl: ".custom-button-prev",
    },
  });
</script>
{% endblock %}
