/* sec_1 */

.bg_education {
  background-image: url("./images/industries/Edcation/hero.png");
}
.bg_healthcare {
  background-image: url("./images/industries/healthcare/hero.png");
}
.bg_manufacturing {
  background-image: url("./images/industries/Manufacturing/hero.png");
}
.bg_hospitality {
  background-image: url("./images/industries/Hospitality/hero.png");
}
.bg_retail {
  background-image: url("./images/industries/Retail/hero.png");
}
.bg_services {
  background-image: url("./images/industries/Services/hero.png");
}
.sec_1 {
  min-height: 30.9375rem;
  /* background-image: url("/images/industries/sec1_bg.png"); */
  background-repeat: no-repeat;
  background-size: cover;
}
.sec_1 .hero_container {
  max-width: 37.3125rem;
  padding-top: 3.53125rem;
  padding-left: 7.6875rem;
  padding-bottom: 5.375rem;
}
.sec_1 .hero_subtitle {
  color: #aad4f7;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 150%; /* 2.25rem */
  /* letter-spacing: -0.0225rem; */
  padding-bottom: 0.625rem;
  margin-top: 0;
  margin-bottom: 0;
}

.sec_1 .hero_title {
  color: #f4f6f7;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 2.15625rem */
  /* letter-spacing: -0.0375rem; */
  margin-top: 0;
}

.sec_1 .hero_text {
  color: rgba(244, 246, 247, 0.85);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%; /* 1.6875rem */
  margin-bottom: 80px;
  /* letter-spacing: -0.016875rem; */
}
.sec_1 .btn_contact {
  border-radius: 0.25rem;
  background: #2589ad;
  color: #f4f6f7;
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: normal;
  /* letter-spacing: -0.0225rem;,. */
  padding: 1.0625rem 3.25rem 1.1875rem 3.75rem;
  width: 12.875rem;
  height: 3.625rem;
}
/* sec_1 */
/* sec_2 */
.sec_2 {
  min-height: 15.125rem;
}
.sec_2 .sec_title {
  color: #2159a6;
  text-align: center;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 4.5rem; /* 240% */
  letter-spacing: -0.028125rem;
  margin: 0;
  padding-top: 1.9375rem;
}

.sec_2 .sec_subtitle {
  color: #1e1e1e;
  text-align: center;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 1.6875rem */
  letter-spacing: -0.016875rem;
  max-width: 52%;
  margin: auto;
}
/* sec_2 */
.mt_63 {
  margin-top: 3.9375rem;
}
.mb_31 {
  margin-bottom: 1.9375rem;
}

/* =======================media query ============================================ */

@media (max-width: 26.5625rem) {
  .sec_1 .hero_container {
    padding-right: 2rem;
    padding-top: 5rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
  }
  .sec_2 .sec_title {
    line-height: 3.125rem;
  }
  .sec_2 .sec_subtitle {
    max-width: 80%;
  }
}
