/* scroll spy sec */

.scroll_spy {
  margin-top: 2rem;

  position: sticky !important;
  top: 0;
  z-index: 99;
  padding: 0;
  /* height: 56px; */
  box-shadow: 0px 1px 0px 1px #0000001f;
}
.scroll_spy .nav-link {
  font-weight: 700;
  font-size: 14px;
  color: #17253d;
}
.scroll_spy .nav-pills .nav-link.active,
.scroll_spy .nav-pills .show > .nav-link {
  border-bottom: 5px solid #2159a6;
  background-color: transparent;
  color: #17253d;
  border-radius: 5px;
  padding-bottom: 14px;
}
/* .scroll_spy .container {
    padding-left: 0;
  } */
.bg_blue_scroll {
  background-color: #2589ad;
  color: white;
}
.bg_blue_scroll .nav-pills .nav-link.active {
  color: white;
}

/* scroll spy sec */
