/* scroll spy sec */

.scroll_spy {
  margin-top: 2rem;

  position: sticky !important;
  top: 0;
  z-index: 99;
  padding: 0;
  /* height: 3.5rem; */
  box-shadow: 0rem 0.0625rem 0rem 0.0625rem #0000001f;
}
.scroll_spy .nav-link {
  font-weight: 700;
  font-size: 0.9rem;
  color: #17253d;
}
.scroll_spy .nav-pills .nav-link.active,
.scroll_spy .nav-pills .show > .nav-link {
  border-bottom: 0.3125rem solid #2159a6;
  background-color: transparent;
  color: #17253d;
  border-radius: 0.3125rem;
  padding-bottom: 0.875rem;
}
/* .scroll_spy .container {
    padding-left: 0;
  } */
.bg_blue_scroll {
  background-color: white;
  color: black;
}
.bg_blue_scroll .nav-pills .nav-link.active {
  color: black;
}
.scroll_spy .nav{
  flex-wrap: nowrap;
}

/* scroll spy sec */


@media (max-width: 768px) {

  .scroll_spy{
    display: none;
  }
}