{% extends "templates/web.html" %} {% block page_content %}

<!-- sec_1 -->
<section class="sec_1p">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Eden Enterprise Resource Planning</h1>
        <p class="subtitle">
          Pioneering tomorrow's business success today. Our cloud-based ERP
          suite, powered by advanced real-time analytics, automates and
          streamlines operations, keeping you ahead of market shifts. Stay
          updated, competitive, and ready for the future with Eden ERP – where
          innovation meets efficiency.
        </p>
      </div>
      <div class="col-md-6 d-flex align-center">
        <div class="img_container">
          <img
            src="./images/products/ERP/products_erp_hero.png"
            alt="products_erp_hero.png"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- sec_1 -->
<!-- scroll spy sec -->

<nav id="navbar-example2" class="navbar scroll_spy">
  <div class="container">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#id_sec_1">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#id_sec_2">Benefits</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#id_sec_features">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#id_sec_integrate">Integration </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#id_sec_competitive_edge">Competitive-Edge</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#id_sec_pricing">Pricing</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#id_sec_partners">Partners</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#id_sec_customer_stories">Customers</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#id_sec_blogs">Blog</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#id_sec_get_started">Next Steps</a>
      </li>
    </ul>
  </div>
</nav>

<!-- scroll spy sec -->

<!-- sec_2 -->
<section class="sec_2p" id="id_sec_1">
  <h6>ABOUT EDEN</h6>
  <h3>Shape the future of your business</h3>
  <p class="title_p">
    Unify your teams, streamline your processes, and integrate your data
    organization-wide, enabling outstanding customer experiences and enhanced
    operational agility.
  </p>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card_container">
          <div class="image_container">
            <img src="./images/products/ERP/Cards/1.png" alt="LMS 1" />
          </div>
          <h5>Automate for Efficiency</h5>
          <p class="card_p">
            Transform the way you work by automating routine tasks. Our ERP
            system uses smart algorithms to reduce manual effort, increasing
            productivity and accuracy across your business operations.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card_container">
          <div class="image_container">
            <img src="./images/products/ERP/Cards/2.png" alt="LMS 1" />
          </div>
          <h5>Real-Time Insights & Decision Making</h5>
          <p class="card_p">
            Stay ahead of the curve with real-time analytics. Our ERP solution
            provides instant access to key performance indicators, enabling
            informed decision-making and rapid response to market trends.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card_container">
          <div class="image_container">
            <img src="./images/products/ERP/Cards/3.png" alt="LMS 1" />
          </div>
          <h5>Adapt to what’s next</h5>
          <p class="card_p">
            Quickly meet changing business demands with Eden Platform's
            easy-to-use tools, combined with the adaptable features of our ERP.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- sec_2 -->
<!-- sec_3p -->
<section class="sec_3p" id="id_sec_2">
  <h3>One Solution for All Your Needs</h3>
  <p class="sec_subtitle">EdenERP delivers wide range of benefits</p>
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb_35">
        <div class="card_container">
          <h4 class="card_title">Financial Management</h4>
          <p class="card_subtitle">
            Gain real-time insights into your financial health, streamline
            accounting processes, and make informed fiscal decisions with our
            comprehensive Financial Management module.
          </p>
        </div>
        <div class="card_container card_container2 left_48">
          <h4 class="card_title">Supply Chain Management</h4>
          <p class="card_subtitle">
            Optimize your supply chain operations, from procurement to
            distribution, ensuring efficiency, reducing costs, and improving
            supplier and customer relationships.
          </p>
        </div>
      </div>
      <div
        class="col-md-4 text-center d-flex justify-content-center align-center flex-column"
      >
        <div class="mb_26">
          <img src="/images/products/logo-eden.svg" alt="logo-eden" />
        </div>
        <div>
          <img src="/images/products/logo-infinite.svg" alt="logo-infinite" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="card_container right_35">
          <h4 class="card_title">Customer Relationship Management (CRM)</h4>
          <p class="card_subtitle">
            Enhance customer engagement and loyalty with our CRM module,
            offering tailored customer experiences, improved sales strategies,
            and effective marketing campaigns.
          </p>
        </div>
        <div class="card_container card_container2">
          <h4 class="card_title">Inventory Management</h4>
          <p class="card_subtitle">
            Maintain optimal inventory levels, reduce stock shortages or
            overages, and improve order accuracy, leading to increased
            efficiency and customer satisfaction.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- sec_3p -->
<!-- sec_4p -->
<section class="sec_4p" id="id_sec_features">
  <div class="container">
    <h6>Features</h6>
    <h3>Deliver connected customer journeys</h3>
    <p class="sec_p">
      Understand your customers and create truly personalized experiences.
    </p>
    <!-- ---------- -->
    <div>
      <ul class="nav nav-pills mb_14" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active first_tab"
            id="pills-home-tab"
            data-toggle="pill"
            data-target="#pills-Automation"
          >
            Automation and Efficiency
          </button>
        </li>

        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="pills-contact-tab"
            data-toggle="pill"
            data-target="#pills-User"
          >
            User Experience and Support
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="pills-contact-tab"
            data-toggle="pill"
            data-target="#pills-Data"
          >
            Data Analysis and Reporting
          </button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div
          class="tab-pane fade show active"
          id="pills-Automation"
          role="tabpanel"
        >
          <div class="row">
            <div class="col-md-6">
              <div class="accordio_container">
                <div id="accordion">
                  <div class="accordion_container">
                    <div class="" id="headingOne">
                      <h5 class="mb-0 center_icon">
                        <button
                          class="btn btn-link collapsed accordion_title"
                          data-toggle="collapse"
                          data-target="#collapseOne"
                          aria-expanded="false"
                          aria-controls="collapseOne"
                        >
                          Smart Task Automation
                          <span>
                            <img
                              src="/images/products/Button_open.svg"
                              alt="icon collapse"
                            />
                          </span>
                        </button>
                      </h5>
                    </div>
                    <div
                      id="collapseOne"
                      class="collapse"
                      aria-labelledby="headingOne"
                      data-parent="#accordion"
                    >
                      <div class="accordion_body">
                        Automate routine tasks with AI-driven technology,
                        reducing manual effort and increasing operational
                        efficiency.
                      </div>
                    </div>
                  </div>
                  <div class="accordion_container">
                    <div class="" id="headingTwo">
                      <h5 class="mb-0 center_icon">
                        <button
                          class="btn btn-link collapsed accordion_title"
                          data-toggle="collapse"
                          data-target="#collapseTwo"
                          aria-expanded="false"
                          aria-controls="collapseTwo"
                        >
                          Streamlined Workflow Management
                          <span>
                            <img
                              src="/images/products/Button_open.svg"
                              alt="icon collapse"
                            />
                          </span>
                        </button>
                      </h5>
                    </div>
                    <div
                      id="collapseTwo"
                      class="collapse"
                      aria-labelledby="headingTwo"
                      data-parent="#accordion"
                    >
                      <div class="accordion_body">
                        Simplify complex processes with customizable workflows,
                        ensuring smooth and efficient daily operations.
                      </div>
                    </div>
                  </div>
                  <div class="accordion_container">
                    <div class="" id="headingThree">
                      <h5 class="mb-0 center_icon">
                        <button
                          class="btn btn-link collapsed accordion_title"
                          data-toggle="collapse"
                          data-target="#collapseThree"
                          aria-expanded="false"
                          aria-controls="collapseThree"
                        >
                          Error Reduction
                          <span>
                            <img
                              src="/images/products/Button_open.svg"
                              alt="icon collapse"
                            />
                          </span>
                        </button>
                      </h5>
                    </div>
                    <div
                      id="collapseThree"
                      class="collapse"
                      aria-labelledby="headingThree"
                      data-parent="#accordion"
                    >
                      <div class="accordion_body">
                        Minimize human errors with automated data entry and
                        validation, enhancing data accuracy and reliability.
                      </div>
                    </div>
                  </div>
                  <div class="accordion_container">
                    <div class="" id="headingThree">
                      <h5 class="mb-0 center_icon">
                        <button
                          class="btn btn-link collapsed accordion_title"
                          data-toggle="collapse"
                          data-target="#collapseFour"
                          aria-expanded="false"
                          aria-controls="collapseFour"
                        >
                          Time-Saving Scheduling
                          <span>
                            <img
                              src="/images/products/Button_open.svg"
                              alt="icon collapse"
                            />
                          </span>
                        </button>
                      </h5>
                    </div>
                    <div
                      id="collapseFour"
                      class="collapse"
                      aria-labelledby="headingFour"
                      data-parent="#accordion"
                    >
                      <div class="accordion_body">
                        Optimize resource allocation and scheduling, saving time
                        and maximizing productivity.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="img_container">
                <img
                  src="./images/products/ERP/Features/Automation.png"
                  alt="featured_img_prod"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="pills-User" role="tabpanel">
          <div class="row">
            <div class="col-md-6">
              <div class="accordio_container">
                <div id="accordion">
                  <div class="accordion_container">
                    <div class="" id="headingOne">
                      <h5 class="mb-0 center_icon">
                        <button
                          class="btn btn-link collapsed accordion_title"
                          data-toggle="collapse"
                          data-target="#collapseOne"
                          aria-expanded="false"
                          aria-controls="collapseOne"
                        >
                          Intuitive User Interface
                          <span>
                            <img
                              src="/images/products/Button_open.svg"
                              alt="icon collapse"
                            />
                          </span>
                        </button>
                      </h5>
                    </div>
                    <div
                      id="collapseOne"
                      class="collapse"
                      aria-labelledby="headingOne"
                      data-parent="#accordion"
                    >
                      <div class="accordion_body">
                        Enjoy a user-friendly interface that simplifies
                        navigation and enhances user experience, regardless of
                        tech expertise.
                      </div>
                    </div>
                  </div>
                  <div class="accordion_container">
                    <div class="" id="headingTwo">
                      <h5 class="mb-0 center_icon">
                        <button
                          class="btn btn-link collapsed accordion_title"
                          data-toggle="collapse"
                          data-target="#collapseTwo"
                          aria-expanded="false"
                          aria-controls="collapseTwo"
                        >
                          Custom User Roles

                          <span>
                            <img
                              src="/images/products/Button_open.svg"
                              alt="icon collapse"
                            />
                          </span>
                        </button>
                      </h5>
                    </div>
                    <div
                      id="collapseTwo"
                      class="collapse"
                      aria-labelledby="headingTwo"
                      data-parent="#accordion"
                    >
                      <div class="accordion_body">
                        Create customized user roles and permissions, ensuring
                        secure access and efficient management of your ERP
                        system.
                      </div>
                    </div>
                  </div>
                  <div class="accordion_container">
                    <div class="" id="headingThree">
                      <h5 class="mb-0 center_icon">
                        <button
                          class="btn btn-link collapsed accordion_title"
                          data-toggle="collapse"
                          data-target="#collapseThree"
                          aria-expanded="false"
                          aria-controls="collapseThree"
                        >
                          Responsive Customer Support
                          <span>
                            <img
                              src="/images/products/Button_open.svg"
                              alt="icon collapse"
                            />
                          </span>
                        </button>
                      </h5>
                    </div>
                    <div
                      id="collapseThree"
                      class="collapse"
                      aria-labelledby="headingThree"
                      data-parent="#accordion"
                    >
                      <div class="accordion_body">
                        Benefit from our dedicated customer support team,
                        available to assist you with any queries or issues.
                      </div>
                    </div>
                  </div>

                  <div class="accordion_container">
                    <div class="" id="headingFour">
                      <h5 class="mb-0 center_icon">
                        <button
                          class="btn btn-link collapsed accordion_title"
                          data-toggle="collapse"
                          data-target="#collapseFour"
                          aria-expanded="false"
                          aria-controls="collapseFour"
                        >
                          Continuous System Updates
                          <span>
                            <img
                              src="/images/products/Button_open.svg"
                              alt="icon collapse"
                            />
                          </span>
                        </button>
                      </h5>
                    </div>
                    <div
                      id="collapseFour"
                      class="collapse"
                      aria-labelledby="collapseFour"
                      data-parent="#accordion"
                    >
                      <div class="accordion_body">
                        Stay up-to-date with regular updates and enhancements,
                        keeping your system modern and efficient.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="img_container">
                <img
                  src="./images/products/ERP/Features/User Experience.png"
                  alt="featured_img_prod"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="pills-Data" role="tabpanel">
          <div class="row">
            <div class="col-md-6">
              <div class="accordio_container">
                <div id="accordion">
                  <div class="accordion_container">
                    <div class="" id="headingOne">
                      <h5 class="mb-0 center_icon">
                        <button
                          class="btn btn-link collapsed accordion_title"
                          data-toggle="collapse"
                          data-target="#collapseOne"
                          aria-expanded="false"
                          aria-controls="collapseOne"
                        >
                          Real-Time Analytics
                          <span>
                            <img
                              src="/images/products/Button_open.svg"
                              alt="icon collapse"
                            />
                          </span>
                        </button>
                      </h5>
                    </div>
                    <div
                      id="collapseOne"
                      class="collapse"
                      aria-labelledby="headingOne"
                      data-parent="#accordion"
                    >
                      <div class="accordion_body">
                        Access live data insights to make informed decisions
                        quickly, adapting to market changes with agility.
                      </div>
                    </div>
                  </div>
                  <div class="accordion_container">
                    <div class="" id="headingTwo">
                      <h5 class="mb-0 center_icon">
                        <button
                          class="btn btn-link collapsed accordion_title"
                          data-toggle="collapse"
                          data-target="#collapseTwo"
                          aria-expanded="false"
                          aria-controls="collapseTwo"
                        >
                          Comprehensive Reporting Tools
                          <span>
                            <img
                              src="/images/products/Button_open.svg"
                              alt="icon collapse"
                            />
                          </span>
                        </button>
                      </h5>
                    </div>
                    <div
                      id="collapseTwo"
                      class="collapse"
                      aria-labelledby="headingTwo"
                      data-parent="#accordion"
                    >
                      <div class="accordion_body">
                        Generate detailed reports with ease, providing clear
                        insights into various aspects of your business.
                      </div>
                    </div>
                  </div>
                  <div class="accordion_container">
                    <div class="" id="headingThree">
                      <h5 class="mb-0 center_icon">
                        <button
                          class="btn btn-link collapsed accordion_title"
                          data-toggle="collapse"
                          data-target="#collapseThree"
                          aria-expanded="false"
                          aria-controls="collapseThree"
                        >
                          Forecasting and Trend Analysis
                          <span>
                            <img
                              src="/images/products/Button_open.svg"
                              alt="icon collapse"
                            />
                          </span>
                        </button>
                      </h5>
                    </div>
                    <div
                      id="collapseThree"
                      class="collapse"
                      aria-labelledby="headingThree"
                      data-parent="#accordion"
                    >
                      <div class="accordion_body">
                        Predict future trends using advanced analytics, helping
                        in strategic planning and risk management.
                      </div>
                    </div>
                  </div>

                  <div class="accordion_container">
                    <div class="" id="headingFour">
                      <h5 class="mb-0 center_icon">
                        <button
                          class="btn btn-link collapsed accordion_title"
                          data-toggle="collapse"
                          data-target="#collapseFour"
                          aria-expanded="false"
                          aria-controls="collapseFour"
                        >
                          Customizable Dashboards
                          <span>
                            <img
                              src="/images/products/Button_open.svg"
                              alt="icon collapse"
                            />
                          </span>
                        </button>
                      </h5>
                    </div>
                    <div
                      id="collapseFour"
                      class="collapse"
                      aria-labelledby="headingFour"
                      data-parent="#accordion"
                    >
                      <div class="accordion_body">
                        Tailor your data visualization with customizable
                        dashboards, focusing on what matters most to your
                        business.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="img_container">
                <img
                  src="./images/products/ERP/Features/Data analysis.png"
                  alt="featured_img_prod"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-------->
  </div>
</section>

<!-- sec_4p -->

<!-- sec_5 -->
<section class="sec_5p" id="id_sec_integrate">
  <h3>Integrate with your favourite apps</h3>
  <!-- <p>
    ERPNext has a host of built-in integrations that help your business take-off
    faster
  </p> -->
  <div class="image_container">
    <img
      src="./images/products/ERP/Logos/aws.png"
      alt="integrated apps logos"
    />
    <img
      src="./images/products/ERP/Logos/Drive.png"
      alt="integrated apps logos"
    />
    <img
      src="./images/products/ERP/Logos/Dropbox.png"
      alt="integrated apps logos"
    />
    <img
      src="./images/products/ERP/Logos/google.png"
      alt="integrated apps logos"
    />
    <img
      src="./images/products/ERP/Logos/PayPal-Logo.png"
      alt="integrated apps logos"
    />
    <img
      src="./images/products/ERP/Logos/shopify.png"
      alt="integrated apps logos"
    />
    <img
      src="./images/products/ERP/Logos/Stripe.png"
      alt="integrated apps logos"
    />
  </div>
</section>

<!-- sec_5 -->
{% include 'eden_app/www/why_choose_eden_sec.html' %}
<!-- sec_6 -->
<section class="sec_6p" id="id_sec_pricing">
  <div>
    <h6>PRICING</h6>
    <h4>Eden Enterprise Resource Planning</h4>
    <p>
      Save Up to 60% with Eden's ERP: Let Your Organization Flourish and Grow
      with Us!
    </p>
    <div>
      <a href="/contact_us"> Request a qoute</a>
    </div>
  </div>
</section>
<!-- sec_6 -->

{% include 'eden_app/www/trusted_companies_sec.html' %} {% include
'eden_app/www/customer_stories_sec.html' %} {% include
'eden_app/www/featured_news_sec.html' %} {% include
'eden_app/www/get_started_last_sec.html' %} {% endblock %}
