{% extends "templates/web.html" %} {% block page_content %}
<head>
  <link rel="stylesheet" href="products_erp.css" />
</head>
<!-- sec_1 -->
<section class="sec_1p">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Elevate Learning with Eden</h1>
        <p class="subtitle">
          Experience the power of personalized learning with Eden's LMS. Tailor
          your educational journey with custom branding, reduce compliance
          risks, and empower your team to innovate and excel.
        </p>
      </div>
      <div class="col-md-6">
        <div class="img_container">
          <img src="./images/products/laptop&mobile.png" alt="laptop&mobile" />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- sec_1 -->
<!-- sec_2 -->
<section class="sec_2p">
  <h6>ABOUT EDEN</h6>
  <h3>Shape the future of your business</h3>
  <p class="title_p">
    Unify your teams, streamline your processes, and integrate your data
    organization-wide, enabling outstanding customer experiences and enhanced
    operational agility.
  </p>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card_container">
          <div class="image_container">
            <img src="/images/products/LMS 1.png" alt="LMS 1" />
          </div>
          <h5>Innovative Learning Solutions</h5>
          <p class="card_p">
            Eden revolutionizes the educational landscape with cutting-edge
            Learning Management Systems. Our solutions are designed to be
            intuitive, engaging, and accessible, ensuring a seamless learning
            experience for all users.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card_container">
          <div class="image_container">
            <img src="/images/products/LMS 1.png" alt="LMS 1" />
          </div>
          <h5>Customization at Its Core</h5>
          <p class="card_p">
            At Eden, we believe in a personalized approach. Our LMS allows for
            complete customization to align with your institution's branding and
            educational objectives, providing a unique and tailored learning
            environment.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card_container">
          <div class="image_container">
            <img src="/images/products/LMS 1.png" alt="LMS 1" />
          </div>
          <h5>Empowering Educators and Learners</h5>
          <p class="card_p">
            Our platform empowers educators with robust tools for content
            creation and course management, while learners benefit from
            interactive and diverse learning materials. Eden is committed to
            fostering an environment of growth and innovation.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- sec_2 -->
<!-- sec_3p -->
<section class="sec_3p">
  <h3>One Solution for All You Need</h3>
  <p class="sec_subtitle">Eden Learning key benefits</p>
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb_35">
        <div class="card_container">
          <h4 class="card_title">Customized Learning Paths</h4>
          <p class="card_subtitle">
            Tailor courses and content to meet individual learning styles and
            professional goals.
          </p>
        </div>
        <div class="card_container card_container2 left_48">
          <h4 class="card_title">Progress Tracking and Reporting</h4>
          <p class="card_subtitle">
            Monitor learner progress with real-time analytics and detailed
            reporting capabilities.
          </p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="mb_26">
          <img src="/images/products/logo-eden.svg" alt="logo-eden" />
        </div>
        <div>
          <img src="/images/products/logo-infinite.svg" alt="logo-infinite" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="card_container right_35">
          <h4 class="card_title">Interactive and Engaging Content</h4>
          <p class="card_subtitle">
            Use multimedia, quizzes, and interactive modules to enhance
            engagement and retention.
          </p>
        </div>
        <div class="card_container card_container2">
          <h4 class="card_title">Robust Database Management</h4>
          <p class="card_subtitle">
            Store and manage a vast array of educational resources and learner
            data securely
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- sec_3p -->
<!-- sec_4p -->
<section class="sec_4p">
  <div class="container">
    <h6>Features</h6>
    <h3>Deliver connected customer journeys</h3>
    <p class="sec_p">
      Understand your customers and create truly personalized experiences.
    </p>

    <!-- ---------- -->
    <div>
      <ul class="nav nav-pills mb_14" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active first_tab"
            id="pills-home-tab"
            data-toggle="pill"
            data-target="#pills-Content"
          >
            Content Management
          </button>
        </li>

        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="pills-contact-tab"
            data-toggle="pill"
            data-target="#pills-Course"
          >
            Course Administration
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="pills-contact-tab"
            data-toggle="pill"
            data-target="#pills-Performance"
          >
            Performance Analytics
          </button>
        </li>

        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="pills-contact-tab"
            data-toggle="pill"
            data-target="#pills-Engagement"
          >
            Engagement and Interaction
          </button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div
          class="tab-pane fade show active"
          id="pills-Content"
          role="tabpanel"
        >
          <div class="row">
            <div class="col-md-6">
              <div class="accordio_container">
                <div id="accordion">
                  <div class="accordion_container">
                    <div class="" id="headingOne">
                      <h5 class="mb-0 center_icon">
                        <button
                          class="btn btn-link collapsed accordion_title"
                          data-toggle="collapse"
                          data-target="#collapseOne"
                          aria-expanded="false"
                          aria-controls="collapseOne"
                        >
                          Adaptive Learning Paths
                          <span>
                            <img
                              src="/images/products/Button_open.svg"
                              alt="icon collapse"
                            />
                          </span>
                        </button>
                      </h5>
                    </div>
                    <div
                      id="collapseOne"
                      class="collapse"
                      aria-labelledby="headingOne"
                      data-parent="#accordion"
                    >
                      <div class="accordion_body">
                        Tailor your educational journey with adaptive learning
                        paths, ensuring each course meets your personal learning
                        style and pace.
                      </div>
                    </div>
                  </div>
                  <div class="accordion_container">
                    <div class="" id="headingTwo">
                      <h5 class="mb-0 center_icon">
                        <button
                          class="btn btn-link collapsed accordion_title"
                          data-toggle="collapse"
                          data-target="#collapseTwo"
                          aria-expanded="false"
                          aria-controls="collapseTwo"
                        >
                          Community Learning
                          <span>
                            <img
                              src="/images/products/Button_open.svg"
                              alt="icon collapse"
                            />
                          </span>
                        </button>
                      </h5>
                    </div>
                    <div
                      id="collapseTwo"
                      class="collapse"
                      aria-labelledby="headingTwo"
                      data-parent="#accordion"
                    >
                      <div class="accordion_body">
                        Engage with a vibrant community of learners and
                        educators, fostering collaboration and shared knowledge
                        through discussion forums and group projects.
                      </div>
                    </div>
                  </div>
                  <div class="accordion_container">
                    <div class="" id="headingThree">
                      <h5 class="mb-0 center_icon">
                        <button
                          class="btn btn-link collapsed accordion_title"
                          data-toggle="collapse"
                          data-target="#collapseThree"
                          aria-expanded="false"
                          aria-controls="collapseThree"
                        >
                          Multimedia Course Content
                          <span>
                            <img
                              src="/images/products/Button_open.svg"
                              alt="icon collapse"
                            />
                          </span>
                        </button>
                      </h5>
                    </div>
                    <div
                      id="collapseThree"
                      class="collapse"
                      aria-labelledby="headingThree"
                      data-parent="#accordion"
                    >
                      <div class="accordion_body">
                        Experience diverse learning through multimedia content,
                        including videos, interactive simulations, and podcasts,
                        enhancing engagement and retention.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="img_container">
                <img
                  src="./images/products/featured_img_prod.png"
                  alt="featured_img_prod"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="pills-Engagement" role="tabpanel">
          <div class="row">
            <div class="col-md-6">
              <div class="accordio_container">
                <div id="accordion">
                  <div class="accordion_container">
                    <div class="" id="headingOne">
                      <h5 class="mb-0 center_icon">
                        <button
                          class="btn btn-link collapsed accordion_title"
                          data-toggle="collapse"
                          data-target="#collapseOne"
                          aria-expanded="false"
                          aria-controls="collapseOne"
                        >
                          Intuitive Course Builder
                          <span>
                            <img
                              src="/images/products/Button_open.svg"
                              alt="icon collapse"
                            />
                          </span>
                        </button>
                      </h5>
                    </div>
                    <div
                      id="collapseOne"
                      class="collapse"
                      aria-labelledby="headingOne"
                      data-parent="#accordion"
                    >
                      <div class="accordion_body">
                        Create compelling courses easily with our user-friendly
                        course builder, offering a range of templates and
                        customization options.
                      </div>
                    </div>
                  </div>
                  <div class="accordion_container">
                    <div class="" id="headingTwo">
                      <h5 class="mb-0 center_icon">
                        <button
                          class="btn btn-link collapsed accordion_title"
                          data-toggle="collapse"
                          data-target="#collapseTwo"
                          aria-expanded="false"
                          aria-controls="collapseTwo"
                        >
                          Resource Management
                          <span>
                            <img
                              src="/images/products/Button_open.svg"
                              alt="icon collapse"
                            />
                          </span>
                        </button>
                      </h5>
                    </div>
                    <div
                      id="collapseTwo"
                      class="collapse"
                      aria-labelledby="headingTwo"
                      data-parent="#accordion"
                    >
                      <div class="accordion_body">
                        Efficiently manage educational resources, from uploading
                        course materials to organizing libraries, with our
                        streamlined management system.
                      </div>
                    </div>
                  </div>
                  <div class="accordion_container">
                    <div class="" id="headingThree">
                      <h5 class="mb-0 center_icon">
                        <button
                          class="btn btn-link collapsed accordion_title"
                          data-toggle="collapse"
                          data-target="#collapseThree"
                          aria-expanded="false"
                          aria-controls="collapseThree"
                        >
                          Instructor Dashboard
                          <span>
                            <img
                              src="/images/products/Button_open.svg"
                              alt="icon collapse"
                            />
                          </span>
                        </button>
                      </h5>
                    </div>
                    <div
                      id="collapseThree"
                      class="collapse"
                      aria-labelledby="headingThree"
                      data-parent="#accordion"
                    >
                      <div class="accordion_body">
                        Monitor course engagement and manage administrative
                        tasks effectively with a dedicated dashboard for
                        instructors.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="img_container">
                <img
                  src="./images/products/featured_img_prod.png"
                  alt="featured_img_prod"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="pills-Performance" role="tabpanel">
          <div class="row">
            <div class="col-md-6">
              <div class="accordio_container">
                <div id="accordion">
                  <div class="accordion_container">
                    <div class="" id="headingOne">
                      <h5 class="mb-0 center_icon">
                        <button
                          class="btn btn-link collapsed accordion_title"
                          data-toggle="collapse"
                          data-target="#collapseOne"
                          aria-expanded="false"
                          aria-controls="collapseOne"
                        >
                          Advanced Learner Analytics
                          <span>
                            <img
                              src="/images/products/Button_open.svg"
                              alt="icon collapse"
                            />
                          </span>
                        </button>
                      </h5>
                    </div>
                    <div
                      id="collapseOne"
                      class="collapse"
                      aria-labelledby="headingOne"
                      data-parent="#accordion"
                    >
                      <div class="accordion_body">
                        Gain insights into learner performance with advanced
                        analytics, tracking progress, engagement, and
                        comprehension in real-time.
                      </div>
                    </div>
                  </div>
                  <div class="accordion_container">
                    <div class="" id="headingTwo">
                      <h5 class="mb-0 center_icon">
                        <button
                          class="btn btn-link collapsed accordion_title"
                          data-toggle="collapse"
                          data-target="#collapseTwo"
                          aria-expanded="false"
                          aria-controls="collapseTwo"
                        >
                          Custom Report Generation
                          <span>
                            <img
                              src="/images/products/Button_open.svg"
                              alt="icon collapse"
                            />
                          </span>
                        </button>
                      </h5>
                    </div>
                    <div
                      id="collapseTwo"
                      class="collapse"
                      aria-labelledby="headingTwo"
                      data-parent="#accordion"
                    >
                      <div class="accordion_body">
                        Create and export custom reports for a detailed analysis
                        of course effectiveness, learner progress, and more.
                      </div>
                    </div>
                  </div>
                  <div class="accordion_container">
                    <div class="" id="headingThree">
                      <h5 class="mb-0 center_icon">
                        <button
                          class="btn btn-link collapsed accordion_title"
                          data-toggle="collapse"
                          data-target="#collapseThree"
                          aria-expanded="false"
                          aria-controls="collapseThree"
                        >
                          Feedback and Surveys
                          <span>
                            <img
                              src="/images/products/Button_open.svg"
                              alt="icon collapse"
                            />
                          </span>
                        </button>
                      </h5>
                    </div>
                    <div
                      id="collapseThree"
                      class="collapse"
                      aria-labelledby="headingThree"
                      data-parent="#accordion"
                    >
                      <div class="accordion_body">
                        Collect and analyze feedback from learners and educators
                        through integrated surveys and feedback tools, driving
                        continuous improvement.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="img_container">
                <img
                  src="./images/products/featured_img_prod.png"
                  alt="featured_img_prod"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="pills-Course" role="tabpanel">
          <div class="row">
            <div class="col-md-6">
              <div class="accordio_container">
                <div id="accordion">
                  <div class="accordion_container">
                    <div class="" id="headingOne">
                      <h5 class="mb-0 center_icon">
                        <button
                          class="btn btn-link collapsed accordion_title"
                          data-toggle="collapse"
                          data-target="#collapseOne"
                          aria-expanded="false"
                          aria-controls="collapseOne"
                        >
                          Interactive Video Lectures
                          <span>
                            <img
                              src="/images/products/Button_open.svg"
                              alt="icon collapse"
                            />
                          </span>
                        </button>
                      </h5>
                    </div>
                    <div
                      id="collapseOne"
                      class="collapse"
                      aria-labelledby="headingOne"
                      data-parent="#accordion"
                    >
                      <div class="accordion_body">
                        Engage with dynamic video lectures featuring in-video
                        quizzes and annotations, enhancing the learning and
                        retention process.
                      </div>
                    </div>
                  </div>
                  <div class="accordion_container">
                    <div class="" id="headingTwo">
                      <h5 class="mb-0 center_icon">
                        <button
                          class="btn btn-link collapsed accordion_title"
                          data-toggle="collapse"
                          data-target="#collapseTwo"
                          aria-expanded="false"
                          aria-controls="collapseTwo"
                        >
                          Discussion Boards
                          <span>
                            <img
                              src="/images/products/Button_open.svg"
                              alt="icon collapse"
                            />
                          </span>
                        </button>
                      </h5>
                    </div>
                    <div
                      id="collapseTwo"
                      class="collapse"
                      aria-labelledby="headingTwo"
                      data-parent="#accordion"
                    >
                      <div class="accordion_body">
                        Foster collaborative learning and peer interaction with
                        integrated discussion boards for sharing ideas and
                        insights.
                      </div>
                    </div>
                  </div>
                  <div class="accordion_container">
                    <div class="" id="headingThree">
                      <h5 class="mb-0 center_icon">
                        <button
                          class="btn btn-link collapsed accordion_title"
                          data-toggle="collapse"
                          data-target="#collapseThree"
                          aria-expanded="false"
                          aria-controls="collapseThree"
                        >
                          Live Virtual Classrooms
                          <span>
                            <img
                              src="/images/products/Button_open.svg"
                              alt="icon collapse"
                            />
                          </span>
                        </button>
                      </h5>
                    </div>
                    <div
                      id="collapseThree"
                      class="collapse"
                      aria-labelledby="headingThree"
                      data-parent="#accordion"
                    >
                      <div class="accordion_body">
                        Conduct real-time, interactive sessions with live
                        virtual classrooms, enabling direct communication and
                        collaboration.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="img_container">
                <img
                  src="./images/products/featured_img_prod.png"
                  alt="featured_img_prod"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ---- -->
  </div>
</section>

<!-- sec_4p -->

<!-- sec_5 -->
<section class="sec_5p">
  <h3>Integrate with your favourite apps</h3>
  <p>
    ERPNext has a host of built-in integrations that help your business take-off
    faster
  </p>
  <div class="image_container">
    <img
      src="/images/products/sec_5_erpnext-integrationsa.png"
      alt="sec_5_erpnext-integrationsa"
    />
  </div>
</section>

<!-- sec_5 -->
{% include 'eden_app/www/why_choose_eden_sec.html' %}
<!-- sec_6 -->
<section class="sec_6p">
  <div>
    <h6>PRICING</h6>
    <h4>Eden Learning Management System</h4>
    <p>
      Save Up to 60% with Eden's LMS: Let Your Organization Flourish and Grow
      with Us!
    </p>
    <div>
      <a>Read the blog</a>
    </div>
  </div>
</section>
<!-- sec_6 -->

{% include 'eden_app/www/trusted_companies_sec.html' %} {% include
'eden_app/www/customer_stories_sec.html' %} {% include
'eden_app/www/featured_news_sec.html' %} {% include
'eden_app/www/get_started_last_sec.html' %} {% endblock %}
