{% extends "templates/web.html" %} {% block page_content %}
<!-- sec_1 -->
<section class="sec_1p">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>NetSuite Enterprise Resource Planning (ERP) System</h1>
        <p class="subtitle">
          Join the more than 37,000 customers NetSuite helps to streamline
          business processes, gain visibility and free up the time and resources
          needed to adapt to change, drive innovation and remain competitive.
        </p>
      </div>
      <div class="col-md-6">
        <div class="img_container">
          <img src="./images/products/laptop&mobile.png" alt="laptop&mobile" />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- sec_1 -->
<!-- sec_2 -->
<section class="sec_2p">
  <h6>ABOUT EDEN</h6>
  <h3>Shape the future of your business</h3>
  <p class="title_p">
    Connect your teams, processes, and data across your entire org to create
    exceptional customer experiences and operational agility.
  </p>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card_container">
          <div class="image_container">
            <img src="/images/products/LMS 1.png" alt="LMS 1" />
          </div>
          <h5>Full-fledged LMS</h5>
          <p class="card_p">
            TalentLMS comes with all the tools you need, ready to go, right out
            of the box. TalentLMS comes with all the tools you need, ready to
            go, right out of the box.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card_container">
          <div class="image_container">
            <img src="/images/products/LMS 1.png" alt="LMS 1" />
          </div>
          <h5>Full-fledged LMS</h5>
          <p class="card_p">
            TalentLMS comes with all the tools you need, ready to go, right out
            of the box. TalentLMS comes with all the tools you need, ready to
            go, right out of the box.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card_container">
          <div class="image_container">
            <img src="/images/products/LMS 1.png" alt="LMS 1" />
          </div>
          <h5>Full-fledged LMS</h5>
          <p class="card_p">
            TalentLMS comes with all the tools you need, ready to go, right out
            of the box. TalentLMS comes with all the tools you need, ready to
            go, right out of the box.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- sec_2 -->
<!-- sec_3p -->
<section class="sec_3p">
  <h3>one tool for End - to - end CX journey</h3>
  <p class="sec_subtitle">ERP delivers wide-ranging benefits by</p>
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb_35">
        <div class="card_container">
          <h4 class="card_title">Accounting Software</h4>
          <p class="card_subtitle">
            page when looking at its layout. The point of -less normal
            distribution of letters, as opposed to using 'Content here, content
          </p>
        </div>
        <div class="card_container card_container2 left_48">
          <h4 class="card_title">Accounting Software</h4>
          <p class="card_subtitle">
            page when looking at its layout. The point of -less normal
            distribution of letters, as opposed to using 'Content here, content
          </p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="mb_26">
          <img src="/images/products/logo-eden.svg" alt="logo-eden" />
        </div>
        <div>
          <img src="/images/products/logo-infinite.svg" alt="logo-infinite" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="card_container right_35">
          <h4 class="card_title">Accounting Software</h4>
          <p class="card_subtitle">
            page when looking at its layout. The point of -less normal
            distribution of letters, as opposed to using 'Content here, content
          </p>
        </div>
        <div class="card_container card_container2">
          <h4 class="card_title">Accounting Software</h4>
          <p class="card_subtitle">
            page when looking at its layout. The point of -less normal
            distribution of letters, as opposed to using 'Content here, content
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- sec_3p -->
<!-- sec_4p -->
<section class="sec_4p">
  <div class="container">
    <h6>Features</h6>
    <h3>Deliver connected customer journeys</h3>
    <p class="sec_p">
      Understand your customers and create truly personalized experiences.
    </p>
    <div class="badges_container">
      <span class="badge_item">Know your customers</span>
      <span class="badge_item">Engage on their terms</span>
      <span class="badge_item">Boost your productivity</span>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="accordio_container">
          <div id="accordion">
            <div class="accordion_container">
              <div class="" id="headingOne">
                <h5 class="mb-0 center_icon">
                  <button
                    class="btn btn-link collapsed accordion_title"
                    data-toggle="collapse"
                    data-target="#collapseOne"
                    aria-expanded="false"
                    aria-controls="collapseOne"
                  >
                    Know your customers to increase sales
                  </button>
                  <span>
                    <img
                      src="/images/products/Button_open.svg"
                      alt="icon collapse"
                    />
                  </span>
                </h5>
              </div>
              <div
                id="collapseOne"
                class="collapse"
                aria-labelledby="headingOne"
                data-parent="#accordion"
              >
                <div class="accordion_body">
                  Grow your revenue by using AI and real-time insights to
                  understand customers, personalize journeys, and close more
                  deals.
                </div>
              </div>
            </div>
            <div class="accordion_container">
              <div class="" id="headingTwo">
                <h5 class="mb-0 center_icon">
                  <button
                    class="btn btn-link collapsed accordion_title"
                    data-toggle="collapse"
                    data-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                    Personalize service experiences
                  </button>
                  <span>
                    <img
                      src="/images/products/Button_open.svg"
                      alt="icon collapse"
                    />
                  </span>
                </h5>
              </div>
              <div
                id="collapseTwo"
                class="collapse"
                aria-labelledby="headingTwo"
                data-parent="#accordion"
              >
                <div class="accordion_body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life
                  accusamus terry richardson ad squid. 3 wolf moon officia aute,
                  non cupidatat skateboard dolor brunch. Food truck quinoa
                  nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                  aliqua put a bird on it squid single-origin coffee nulla
                  assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                  beer labore wes anderson cred nesciunt sapiente ea proident.
                  Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                  beer farm-to-table, raw denim aesthetic synth nesciunt you
                  probably haven't heard of them accusamus labore sustainable
                  VHS.
                </div>
              </div>
            </div>
            <div class="accordion_container">
              <div class="" id="headingThree">
                <h5 class="mb-0 center_icon">
                  <button
                    class="btn btn-link collapsed accordion_title"
                    data-toggle="collapse"
                    data-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                    Move beyond traditional finance
                  </button>
                  <span>
                    <img
                      src="/images/products/Button_open.svg"
                      alt="icon collapse"
                    />
                  </span>
                </h5>
              </div>
              <div
                id="collapseThree"
                class="collapse"
                aria-labelledby="headingThree"
                data-parent="#accordion"
              >
                <div class="accordion_body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life
                  accusamus terry richardson ad squid. 3 wolf moon officia aute,
                  non cupidatat skateboard dolor brunch. Food truck quinoa
                  nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                  aliqua put a bird on it squid single-origin coffee nulla
                  assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                  beer labore wes anderson cred nesciunt sapiente ea proident.
                  Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                  beer farm-to-table, raw denim aesthetic synth nesciunt you
                  probably haven't heard of them accusamus labore sustainable
                  VHS.
                </div>
              </div>
            </div>

            <div class="accordion_container">
              <div class="" id="headingFour">
                <h5 class="mb-0 center_icon">
                  <button
                    class="btn btn-link collapsed accordion_title"
                    data-toggle="collapse"
                    data-target="#collapseFour"
                    aria-expanded="false"
                    aria-controls="collapseFour"
                  >
                    Deliver more supply chain agility
                  </button>
                  <span>
                    <img
                      src="/images/products/Button_open.svg"
                      alt="icon collapse"
                    />
                  </span>
                </h5>
              </div>
              <div
                id="collapseFour"
                class="collapse"
                aria-labelledby="headingFour"
                data-parent="#accordion"
              >
                <div class="accordion_body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life
                  accusamus terry richardson ad squid. 3 wolf moon officia aute,
                  non cupidatat skateboard dolor brunch. Food truck quinoa
                  nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                  aliqua put a bird on it squid single-origin coffee nulla
                  assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                  beer labore wes anderson cred nesciunt sapiente ea proident.
                  Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                  beer farm-to-table, raw denim aesthetic synth nesciunt you
                  probably haven't heard of them accusamus labore sustainable
                  VHS.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="img_container">
          <img
            src="./images/products/featured_img_prod.png"
            alt="featured_img_prod"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- sec_4p -->

<!-- sec_5 -->
<section class="sec_5p">
  <h3>Integrate with your favourite apps</h3>
  <p>
    ERPNext has a host of built-in integrations that help your business take-off
    faster
  </p>
  <div class="image_container">
    <img
      src="/images/products/sec_5_erpnext-integrationsa.png"
      alt="sec_5_erpnext-integrationsa"
    />
  </div>
</section>

<!-- sec_5 -->
{% include 'eden_app/www/why_choose_eden_sec.html' %}
<!-- sec_6 -->
<section class="sec_6p">
  <div>
    <h6>PRICING</h6>
    <h4>Dynamics 365 Sales pricing</h4>
    <p>
      Save up to 55 percent compared with similar sales solutions from major
      competitors.2
    </p>
    <div>
      <a>Read the blog</a>
    </div>
  </div>
</section>
<!-- sec_6 -->

{% include 'eden_app/www/trusted_companies_sec.html' %} {% include
'eden_app/www/customer_stories_sec.html' %} {% include
'eden_app/www/featured_news_sec.html' %} {% include
'eden_app/www/get_started_last_sec.html' %} {% endblock %}
