{% extends "templates/web.html" %} {% block page_content %}
<section class="sec_1"></section>

<section class="sec_2">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h4 class="title">How can we help?</h4>
        <p class="subtitle">
          Looking for assistance? We're here to help! Leave us your contact
          details, and our dedicated team will reach out to you as soon as
          possible. Whether it's a question, concern, or feedback, we're
          committed to providing the support you need, right when you need it
        </p>

        <div class="table_container">
          <table class="table">
            <thead>
              <tr>
                <th class="first_th" scope="col">Priority Level</th>
                <th class="mid_th" scope="col">Description</th>
                <th class="third_th" scope="col">Target Response Time</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Crucial</td>
                <td class="mid_td">
                  issues with the server or domain, threatening system
                  accessibility
                </td>
                <td><span>2 hours </span></td>
              </tr>
              <tr>
                <td>High</td>
                <td class="mid_td">
                  issues affecting core operations, potentially hindering
                  critical business functions.
                </td>
                <td><span>1 Day</span></td>
              </tr>

              <tr>
                <td>Medium</td>
                <td class="mid_td">
                  issues that affect system performance, impacting efficiency
                  but not critical operations
                </td>
                <td><span>2 Days</span></td>
              </tr>
              <tr>
                <td>Low</td>
                <td class="mid_td">
                  issues with minimal impact on overall system performance or
                  enhancement
                </td>
                <td><span>3 Days</span></td>
              </tr>

              <tr class="">
                <td>Very low</td>
                <td class="mid_td pb_26">
                  Non-urgent, can be addressed during routine maintenance
                </td>
                <td><span> 1 Week</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-4 flex_center">
        <h4 class="text-center my-2">Submit Your Issue</h4>
        <p class="text-center my-2">Send Your Issue and we’ll be in touch.</p>
        <div class="text-center my-2">
          <a class="btn btn_submit_support" href="/my-issues/new"
            >Submit Issue</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
