{% extends "templates/web.html" %} {% block page_content %}
<section class="sec_1"></section>

<section class="sec_2">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h4 class="title">How can we help?</h4>
        <p class="subtitle">
          Connect with the Dynamics 365 team for assistance linking people,
          data, and processes across your organization. Get answers to your
          questions from Dynamics 365 experts or
        </p>

        <div class="table_container">
          <table class="table">
            <thead>
              <tr>
                <th class="first_th" scope="col">Priority Level</th>
                <th class="mid_th" scope="col">Description</th>
                <th class="third_th" scope="col">Target Response Time</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Critical</td>
                <td class="mid_td">data, and processes across your organization.</td>
                <td><span>Immediate</span></td>
              </tr>
              <tr>
                <td>High</td>
                <td class="mid_td">data, and processes across your organization.</td>
                <td><span>10 minutes</span></td>
              </tr>

              <tr>
                <td>Medium</td>
                <td class="mid_td">data, and processes across your organization.</td>
                <td><span>1 hour</span></td>
              </tr>
              <tr>
                <td>Low</td>
                <td class="mid_td">data, and processes across your organization.</td>
                <td><span>24 hours</span></td>
              </tr>
            </tbody>
            <tr class="">
              <td>Very low</td>
              <td class="mid_td pb_26">data, and processes across your organization.</td>
              <td><span>Up to 7 days</span></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-md-4 flex_center">
        <h4 class="text-center my-2">Submit Your Issue</h4>
        <p class="text-center my-2">Send Your Issue and we’ll be in touch.</p>
        <div class="text-center my-2">
          <a class="btn btn_submit_support" href="/issues">Submit Issue</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
