h1,
h2,
h3,
h4,
h5,
h6,
.col-md-6,
p {
  margin: 0;
  padding: 0;
}

/* hero_sec */
.hero_sec {
  height: 100vh;
  background: linear-gradient(
    90deg,
    #2159a6 26.49%,
    rgba(33, 89, 166, 0.42) 99.62%
  );
}

.hero_container h1 {
  font-weight: 500;
  font-size: 2.375rem;
  line-height: 3.375rem;
  color: white;
  margin-bottom: 1.9375rem;
  margin-top: 0;
}

.hero_sec .btn_quote {
  background-color: #2589ad;
  border-radius: 0.416875rem;
  font-weight: 600;
  font-size: 0.781875rem;
  line-height: 1.146875rem;
  color: #ffffff;
  width: 7.3125rem;
  height: 2.75rem;
  padding: 0.75rem 0.25rem 1rem 0.4375rem;
  margin-right: 0.75rem;
}

.hero_sec .btn_demo {
  background-color: transparent;
  border-radius: 0.416875rem;
  font-weight: 600;
  font-size: 0.781875rem;
  line-height: 1.146875rem;
  color: #ffffff;
  width: auto;
  height: 2.75rem;
  padding: 0.75rem 0.375rem 1rem 0.625rem;
  border: 0.104375rem solid #ffffff;
}

.hero_sec .flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_container {
  padding-top: 12.96875rem;
  padding-left: 7.625rem;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

/* hero_sec */

/* sec_2 */
.sec_2 {
  padding-top: 1.9375rem;
  padding-bottom: 2.4375rem;
}

.sec_name {
  font-size: 1rem;
  font-weight: 700;
  line-height: 0.9375rem;
  text-align: center;
  color: #2589ad;
}

.sec_2 .sec_name {
  margin-bottom: 0.3125rem;
}

.sec_title {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.8125rem;
  text-align: center;
  letter-spacing: initial !important;
}

.sec_subtitle {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4375rem;
  text-align: center;
}

.sec_2 .sec_title {
  margin-bottom: 0.29875rem;
}

.sec_2 .sec_subtitle {
  max-width: 70%;
  margin: auto;
  margin-bottom: 2.6875rem;
}

.sec_2 .card_container {
  box-shadow: 0rem 0.15448112785816193rem 0.30896225571632385rem 0rem #00000024;
  border-radius: 1.85375rem;
}

.sec_2 .image_container {
  padding-right: 1.125rem;
  padding-left: 0.625rem;
  padding-top: 0.625rem;
  padding-bottom: 1.8125rem;
}

.sec_2 .about_sec_img {
  border-radius: 1.235625rem;
}

.sec_2 .card_container {
  max-width: 30.25rem;
  max-height: 22.8125rem;
}

.sec_2 .card_title {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 2.1875rem;
  color: #2159a6;
  padding-left: 1.375rem;
}

.sec_2 .card_subtitle {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7rem;
  color: #1e1e1e;
  padding-left: 1.375rem;
  padding-right: 1.125rem;
  padding-bottom: 3.8125rem;
}

/* sec_2 */
/* sec_3 */
.sec_3 {
  padding-bottom: 2.5rem;
}

.sec_3 .sec_name {
  text-align: left;
}

.sec_3 .sec_title {
  text-align: left;
}

.sec_3 .card_container {
  max-width: 23.435rem;
  /* max-height: 25.81rem; */
  border: 0.059375rem solid #00000020;
  border-radius: 0.71625rem;
}

.sec_3 .image_container {
  padding-top: 0.46875rem;
  position: relative;
}

.sec_3 .about_sec_img {
  /* border-radius: 0.65625rem; */
  border-radius: 0.65625rem 0.65625rem 0rem 0rem;
  height: 206px;
  width: 100%;
  object-fit: cover;
}

.sec_3 .card_title {
  padding-top: 1.18125rem;
  padding-bottom: 0.475rem;
  padding-left: 1.25rem;
  color: #2159a6;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4375rem;
  text-align: left;
}

.sec_3 .card_subtitle {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.25rem;
  text-align: left;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 1.25rem;
  color: #1e1e1e;
}

.sec_3 .icon_container {
  padding-left: 1.25rem;
  padding-right: 0.9375rem;
}

.sec_3 .icon_text {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.25rem;

  text-align: left;
}

.sec_3 .btn_container {
  margin-top: 1.34375rem;
  margin-bottom: 1.05rem;
}

.sec_3 .btn_container {
  text-align: center;
}

.sec_3 .btn_reginster {
  background-color: #2589ad;
  border-radius: 0.3125rem;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 0.6875rem;
  font-weight: 500;
  line-height: 1.0625rem;
  text-align: center;
  padding: 0.3125rem 2.9375rem;
}

.sec_3 .badge_notify {
  box-shadow: 0rem 0.059681959450244904rem 0.11936391890048981rem 0rem #0000001a;
  background-color: #ffffff;
  border-radius: 0.23875rem;
  font-family: "Inter", sans-serif;
  font-size: 0.625rem;
  font-weight: 700;
  line-height: 0.875rem;
  color: #525252;
  padding: 0.149375rem 0.335625rem;
  position: absolute;
  top: 1.068125rem;
  left: 0.835625rem;
}

/* sec_3 */

/* .sec_4 */
.sec_4 {
  background: linear-gradient(
    103.4deg,
    #2159a6 49.47%,
    rgba(33, 89, 166, 0) 136.95%
  );
  min-height: 31.75rem;
}

.sec_4 .sec_name {
  color: #bce7ff;
  line-height: 0.76625rem;
  padding-top: 1.5rem;
  padding-bottom: 0.1875rem;
  text-align: left;
}

.sec_4 .sec_title {
  color: #ffffff;
  line-height: 2.29875rem;
  padding-bottom: 1.080625rem;
  text-align: left;
}

.sec_4 .accordion_container {
  /* background-color: transparent; */
  border-bottom: 0.048125rem solid #bdc5d2;
  max-width: 18.008125rem;
}

.sec_4 .accordion_title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.3125rem;
  text-align: left;
  color: #aad4f7;
  padding: 0;
  /* margin-bottom: 1.25rem; */
  padding-top: 1rem;
  padding-bottom: 1.625rem;
  width: 100%;
  display: flex;
}

.sec_4 .accordion_body {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.125rem;
  text-align: left;
  color: #ddf3ff;
  max-width: 92%;
  padding-bottom: 1rem;
}

.sec_4 .accordion_link {
  font-family: "Segoe UI", sans-serif;
  font-size: 0.6875rem;
  font-weight: 600;
  line-height: 0.9375rem;
  text-align: left;
  color: #aad4f7;
}

.sec_4 .link_container {
  padding-top: 1.25rem;
  padding-bottom: 0.9rem;
}

.sec_4 .center_icon {
  display: flex;
  align-items: baseline;
}

.sec_4 .col-md-8 .img_container {
  text-align: right;
}

.sec_4 .container-fluid {
  margin: 0;
  padding-right: 11.1875rem;
  padding-left: 7.6875rem;
}

/* .sec_4 */

/* sec_5 */
.sec_5 {
  padding-top: 3.75rem;
  padding-bottom: 3.25rem;
}

.sec_5 .container {
  padding-left: 3.1875rem;
  padding-right: 2.5rem;
  position: relative;
}

.sec_5 .slide_container {
  padding-left: 3.125rem;
}

.sec_5 .sec_name {
  line-height: 0.75rem;
  text-align: left;
  padding-top: 1.1875rem;
  padding-bottom: 0.28125rem;
}

.sec_5 .sec_title {
  line-height: 2.25rem;
  text-align: left;
  padding-bottom: 2rem;
}

.sec_5 .slide_text {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.375rem;
  text-align: left;
  color: black;
  max-width: 30rem;
  margin-bottom: 1.25rem;
}

.mb_11 {
  margin-bottom: 0.71875rem;
}

.sec_5 .btn_read_more {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.1875rem;
  text-align: left;
  color: #17253d;
  margin-right: 0.3375rem;
}

.sec_5 .arrow_container {
  border-radius: 0.474375rem;
  background-color: #2589ad;
  padding: 0.593125rem;
}

.mb_18 {
  margin-bottom: 1.1625rem;
}

.sec_5 .nav_btns_wrapper {
  position: absolute;
  bottom: 0.625rem;
  left: 55%;
  width: 100%;
  transform: translateY(-50%);
  z-index: 99;
}

.custom-button-prev,
.custom-button-next {
  cursor: pointer;
  display: inline-block;
  width: 2.955625rem;
  height: 2.955625rem;
}

.sec_5 .swiper {
  height: 23.8125rem;
}

.sec_5 .custom-button-prev {
  margin-right: 1.025rem;
}

.swiper-button-disabled {
  opacity: 0.5;
}

/* sec_5 */

/* sec_6  */
.sec_6 {
  background-image: url("/images/home/sec_6_bg.png");
  min-height: 32.4375rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.sec_6 .img_container {
  padding-top: 0.875rem;
  padding-bottom: 0.75rem;
}

.sec_6 .container {
  padding-left: 4.3125rem;
  margin: 0;
}

.sec_6 .text_container {
  padding-left: 4rem;
}

.sec_6 h3 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 3.0625rem;
  text-align: left;
  color: white;
  margin-bottom: 1.25rem;
}

.pl_6 {
  padding-left: 0.375rem;
}

.sec_6 .text_card {
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
  text-align: left;
  color: white;
}

.mb_15 {
  margin-bottom: 0.9375rem;
}

/* sec_6 */

/* sec_7 */
.sec_7 {
  padding-top: 2.6875rem;
  padding-bottom: 1.1875rem;
  min-height: 38.5625rem;
  background-image: url("/images/home/sec_7_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.sec_7 .container {
  padding-left: 7.25rem;
  padding-right: 7.4375rem;
  display: flex;
  justify-content: center;
}

.sec_7 .sec_title {
  line-height: 3rem;
  text-align: center;
}

.sec_7 .sec_subtitle {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 2rem;
  text-align: center;
  color: #1e1e1e;
  margin-bottom: 0.5625rem;
}

.sec_7 .nav-link {
  /* box-shadow: 0rem 0.0425rem 0.085rem 0rem #00000024; */
  /* border-radius: 0.68375rem, 0rem, 0rem, 0.68375rem; */
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 0.875rem;
  text-align: left;
  color: #0e1726;
  padding: 0.7125rem 3.418125rem 1.04rem 1rem;
  background-color: white;
  /* box-shadow: 0rem 0.043086081743240356rem 0.08548825234174728rem 0rem #00000024; */

  box-shadow: 0rem 0rem 0.08548825234174728rem 0rem #0000001f;
  border: none;
  border-right: 0.0425rem solid #bdc5d2;
}

.sec_7 .nav-pills .nav-link.active,
.sec_7 .nav-pills .show > .nav-link {
  background-color: white;
  color: #0e1726;
  border-radius: 0.68375rem 0rem 0rem 0.68375rem;
}

.sec_7 .nav-link.active {
  border-bottom: 0.17125rem solid #0078d4;
}

.sec_7 .nav-link:focus {
  outline: none;
}

.sec_7 .nav-pills .nav-link {
  border-radius: 0;
}
.sec_7 .first_tab {
  border-top-left-radius: 0.68375rem !important;
  border-bottom-left-radius: 0.68375rem !important;
}

.sec_7 .last_tab {
  border-top-right-radius: 0.68375rem !important;
  border-bottom-right-radius: 0.68375rem !important;
  border-right: none;
}
.sec_7 .tab_title {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.8125rem;
  text-align: center;
}

.mb_14 {
  margin-bottom: 0.875rem;
}

.sec_7 .icon_text {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 0.875rem;
  text-align: center;
  color: #1e1e1e;
}

.sec_7 .img_container {
  padding-top: 0.6375rem;
  text-align: center;
  padding-left: 6rem;
}

/* sec_7 */

/* sec_8 */

.sec_8 .container {
  padding-left: 13.0625rem;
  padding-right: 13.0625rem;
  margin: auto;
}

.sec_8 .sec_container {
  margin: auto;
  background-image: url("/images/home/sec_8_bg.png");
  background-image: no-repeat;
}

.sec_8 h5 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.25rem;
  text-align: center;
  margin-bottom: 1.78125rem;
  padding-left: 4.05rem;
  padding-right: 3.55rem;
  padding-top: 3.0875rem;
}

.sec_8 .logos_container {
  display: flex;
  justify-content: space-between;
  max-width: 40.6875rem;
  padding-bottom: 5.55rem;
  margin: auto;
  flex-wrap: wrap;
}

/* sec_8 */
/* .sec_9 */
.sec_9 {
  padding-bottom: 4.4375rem;
}
.sec_9 .sec_name {
  font-size: 1rem;
  font-weight: 700;
  line-height: 0.8125rem;
  text-align: left;
  color: #2589ad;
  padding-bottom: 0.6875rem;
}

.sec_9 .sec_title {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.375rem;
  text-align: left;
  color: black;
}

.sec_9 .tab-content {
  border-radius: 1.18625rem;
  box-shadow: 0rem 0.0988340675830841rem 0.1976681351661682rem 0rem #00000024;
}
.sec_9 .client_logo_container {
  padding-top: 1.5rem;
  padding-left: 1.1875rem;
  padding-bottom: 2.625rem;
}
.sec_9 .tab_text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1875rem;
  text-align: left;
  padding-bottom: 3.3125rem;
  padding-left: 1.1875rem;
  padding-right: 3.4375rem;
  color: black;
}

.sec_9 .ratio_container {
  padding-left: 1.1875rem;
}

.sec_9 .ratio_text {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1rem;
  text-align: left;
  color: #0e1726;
  padding-left: 0.5rem;
}
.sec_9 .increament_type {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  text-align: left;
  color: #17253d;
  padding-bottom: 7.75rem;
  padding-top: 0.8125rem;
  padding-left: 0.8125rem;
  padding-right: 1.1875rem;
}
.sec_9 .img_container {
  padding-top: 1.5rem;
  padding-right: 2.4375rem;
  padding-bottom: 4rem;
  padding-left: 3.4375rem;
}

.sec_9 .nav-link {
  /* box-shadow: 0rem 0.0425rem 0.085rem 0rem #00000024; */
  /* border-radius: 0.68375rem, 0rem, 0rem, 0.68375rem; */
  height: 6.375rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 0.875rem;
  text-align: left;
  color: #0e1726;
  padding: 0.7125rem 3.418125rem 1.04rem 1rem;
  background-color: white;
  box-shadow: 0rem 0.043086081743240356rem 0.08548825234174728rem 0rem #00000024;

  /* box-shadow: 0rem 0rem 0.08548825234174728rem 0rem #0000001f; */
  border: none;
  border-right: 0.0425rem solid #bdc5d2;
}

.sec_9 .nav-pills .nav-link.active,
.sec_9 .nav-pills .show > .nav-link {
  background-color: white;
  color: #0e1726;
  border-radius: 0.68375rem 0rem 0rem 0.68375rem;
}

.sec_9 .nav-link.active {
  border-bottom: 0.17125rem solid #0078d4;
}

.sec_9 .nav-link:focus {
  outline: none;
}

.sec_9 .nav-pills .nav-link {
  border-radius: 0;
}
.sec_9 .first_tab {
  border-top-left-radius: 0.68375rem !important;
  border-bottom-left-radius: 0.68375rem !important;
}

.sec_9 .last_tab {
  border-top-right-radius: 0.68375rem !important;
  border-bottom-right-radius: 0.68375rem !important;
  border-right: none;
}
.sec_9 .nav_btns {
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  bottom: -3.75rem;
  width: 100%;
  justify-content: center;
}
/* .sec_9 */
/* sec_10 */
.sec_10 {
  margin-top: 4.4375rem;
  padding-bottom: 30px;
  min-height: 21.375rem;
  background-color: #2159a6;
}
.sec_10 .sec_title {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.8125rem;
  text-align: center;
  color: white;
  padding-top: 1.125rem;
  padding-bottom: 1.53125rem;
}
.sec_10 .cards_container {
  border-radius: 1.321875rem;
  background-color: white;
}

.sec_10 .img_container {
  text-align: center;
  padding-top: 0.458125rem;
  padding-bottom: 0.125rem;
  max-height: 106px;
}
.sec_10 .card_text {
  font-size: 1.3125rem;
  font-weight: 700;
  line-height: 1.75rem;
  text-align: left;
  color: black;
  padding: 0.4375rem 0.3125rem 2.9375rem 3.8125rem;
}

.sec_10 .container {
  padding-left: 5rem;
  padding-right: 5rem;
}
.sec_10 .last_card_text {
  padding-left: 2.9375rem;
  padding-right: 1rem;
}

/* sec_10 */
/* sec_11_second slider  */
/* .sec_11 {
  min-height: 38.1875rem;
} */
.sec_11 .container {
  padding-left: 2.9375rem;
  padding-right: 1.3125rem;
}
.sec_11 .sec_name {
  text-align: left;
  padding-top: 6.15rem;
  padding-bottom: 0.949375rem;
  padding-left: 1.323125rem;
  text-align: left;
  color: #2159a6;
  font-size: 1rem;
  font-weight: 700;
  line-height: 0.8125rem;
}

.sec_11 .slide_text {
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.4375rem;
  text-align: left;
  padding-left: 1.323125rem;
  color: #1e1e1e;
  padding-bottom: 5.8125rem;
}
.sec_11 .sec_title {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.875rem;
  text-align: left;
}
.sec_11 .row {
  border-radius: 1.42375rem;
  /* box-shadow: 0rem 0.118125rem 0.23125rem 0rem #00000024; */
  filter: drop-shadow(0rem 0.118125rem 0.23125rem 0rem #00000024);
}

.sec_11 .arrow_container {
  border-radius: 0.474375rem;
  background-color: #2589ad;
  padding: 0.593125rem;
  width: 2.05875rem;
  height: 2.076875rem;
  display: flex;
  align-items: center;
}
.sec_11 .read_blog_link {
  padding-left: 1.323125rem;
  padding-bottom: 1.403125rem;
  display: flex;
  align-items: center;
}
.sec_11 .btn_read_more {
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1.1875rem;
  text-align: left;
  color: black;
  margin-left: 0.5rem;
}
.sec_11 .nav_btns_wrapper {
  display: flex;
  padding-top: 1.34375rem;
  padding-left: 0.625rem;
  padding-bottom: 3.8125rem;
}
.sec_11 .custom-button-prev {
  margin-right: 0.40625rem;
}
.sec_11 .img_container {
  padding-top: 0.8125rem;
  /* padding-right: 3.4375rem;
  padding-bottom: 3.1875rem;
  padding-left: 5.8125rem; */
}
/* sec_11_second slider  */
/* .sec_12 last sec */
.sec_12 {
  min-height: 30.4375rem;
  margin-bottom: 7.75rem;
  background-image: url("/images/home/last_sec_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.sec_12 .sec_title {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.6875rem;
  text-align: center;
  padding-top: 3.4375rem;
  padding-bottom: 2.6875rem;
  color: white;
}
.sec_12 .card_container {
  background-color: #fff;
  border-radius: 1.34625rem;
  box-shadow: 0rem 0.10625rem 0.21875rem 0rem #00000024;
  max-width: 24.079375rem;
  min-height: 299px;
}

.sec_12 .icon_text_cont {
  padding-top: 1.34375rem;
  padding-right: 2.6875rem;
  padding-bottom: 2.6875rem;
  padding-left: 1.34625rem;
}
.sec_12 .icon_cont {
  margin-bottom: 0.8975rem;
}

.sec_12 .card_title {
  font-family: "Segoe UI", sans-serif;
  font-size: 1.8125rem;
  font-weight: 600;
  line-height: 2.25rem;
  text-align: left;
  margin-bottom: 0.8975rem;
  color: #0e1726;
}
.sec_12 .card_text {
  font-family: "Segoe UI", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
  text-align: left;
  color: #17253d;
}
.sec_12 .read_blog_link {
  padding-left: 1.34625rem;
  padding-bottom: 1.34625rem;
  padding-right: 2.6875rem;
}
.sec_12 .btn_read_more {
  color: #17253d;
  font-family: "Segoe UI", sans-serif;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.125rem;
  text-align: left;
}

.sec_12 .arrow_container {
  border-radius: 0.474375rem;
  background-color: #2589ad;
  padding: 0.593125rem;
  margin-top: 2.75rem;
  margin-right: 0.496875rem;
}
.sec_12 .container {
  padding-left: 3.3125rem;
  padding-right: 3.3125rem;
}
/* .sec_12 last sec */

/* =======================media query ============================================ */
@media (max-width: 1270px) {
  .sec_12 .col-md-4 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
/* Media Query for Tablet Screen */
@media (max-width: 1024px) {
  .hero_sec {
    height: 65vh;
  }
  .hero_container {
    padding-top: 3.96875rem;
    padding-left: 3.625rem;
  }
  .sec_9 .nav-link {
    padding: 1rem;
  }

  .sec_10 .container {
    padding-bottom: 1rem;
  }

  .sec_12 .col-md-4.px-0 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .sec_12 .icon_text_cont {
    padding-right: initial;
  }
  .sec_4 {
    min-height: 26.75rem;
  }
  .sec_11 .d_md_flex {
    display: flex;
    align-items: center;
  }
  .sec_11 .slide_text {
    padding-right: 1rem;
    padding-bottom: 3.8125rem;
  }
  .sec_11 .img_container {
    padding-right: 1rem;
  }
  .sec_10 .card_text {
    text-align: center;
    padding: 2rem;
  }
  .sec_10 .first_card {
    padding: 1rem 1rem 2rem 2rem;
  }
}

/* Media Query for Large Mobile Screen */
@media (max-width: 768px) {
  .sec_8 .container {
    padding-left: initial;
    padding-right: initial;
    margin: auto;
  }

  .sec_4 .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .sec_4 {
    min-height: auto;
  }

  .hero_container {
    padding-top: 2.96875rem;
    padding-left: 1.625rem;
  }

  .hero_sec {
    height: 55vh;
  }

  .sec_6 .container {
    padding-left: 1.5rem;
  }

  .sec_6 {
    min-height: auto;
  }
  .sec_6 .col-md-6 {
    display: flex;
    align-items: center;
  }

  .sec_9 .nav_btns {
    width: 85%;
    justify-content: center;
    align-items: center;
    bottom: -3.75rem;
  }

  .sec_10 .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .sec_10 .card_text {
    padding: 1rem;
  }

  .sec_12 .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .sec_12 .icon_text_cont {
    padding-right: 1.5rem;
  }

  .sec_7 .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .sec_11 .sec_name {
    padding-top: 2.15rem;
  }

  .sec_10 .card_text {
    text-align: center;
    padding: 2rem;
  }

  .sec_10 .first_card {
    padding: 1rem 1rem 2rem 2rem;
  }
}

/* Media Query for Medium Mobile Screen */
@media (max-width: 425px) {
  .hero_sec .col-md-5 {
    display: none;
  }

  .hero_sec {
    height: 45vh;
  }

  .sec_2 .col-md-6 {
    margin-bottom: 2rem;
  }

  .sec_3 .col-md-4 {
    padding-left: 15px !important;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  .sec_3 .card_container {
    max-width: initial;
  }

  .sec_4 .d_mob_none {
    display: none;
  }

  .sec_4 .accordion_container {
    max-width: initial;
  }
  .sec_4 .accordion_body {
    max-width: 100%;
  }

  .sec_4 .accordion_link {
    font-size: 1rem;
  }

  .sec_5 .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .sec_5 .slide_container {
    padding-left: initial;
  }
  .sec_6 .text_container {
    padding-left: initial;
  }

  .sec_7 .nav {
    justify-content: center;
  }

  .sec_8 .logos_container {
    justify-content: space-evenly;
  }

  .sec_9 .nav_btns {
    width: 100%;

    bottom: -3.75rem;
  }
  .sec_9 .nav-link {
    width: 98px;
    height: 64px;
    padding: 10px;
  }
  .sec_10 .col-md-4 {
    margin-bottom: 2rem;
  }

  .sec_11 .img_container {
    padding: 0;
  }
  .sec_11 .slide_text {
    padding-bottom: 1rem;
  }
  .sec_11 .sec_name {
    padding-top: 1.5rem;
  }

  .sec_11 .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .sec_12 .col-md-4.px-0 {
    justify-content: center;
    display: flex;
    margin-bottom: 2rem;
  }
  .sec_5 .swiper {
    height: auto;
  }

  .sec_5 .nav_btns_wrapper {
    bottom: 0.625rem;
    left: 71%;
    transform: initial;
  }
  .sec_10 .card_text {
    text-align: center;
    padding: 2rem;
  }
  .sec_9 .client_logo_container {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }

  .sec_9 .tab_text {
    padding-right: 0;
    padding-bottom: 1rem;
  }
  .sec_9 .increament_type {
    padding-bottom: 1rem;
  }

  .sec_12,
  .sec_6 {
    background-repeat: repeat;
  }
}
